body {
    margin: 0;
    color: #666;
    font: 300 13px/31px 'Roboto', Arial, sans-serif;
    vertical-align: middle;
    background: #4799cd url(../images/bg-body.jpg) no-repeat 50% 0;
    background-size: contain;
}
/* HEADER */
.header-links {
    padding-top: 40px;
}
/* /HEADER */

.precert-page #header {
    background: #161d20;
    margin: 0;
}
#header {
    position: relative;
    background: #161d20;
    padding: 0 25px 0 0;
    border-radius: 3px 3px 0 0;
    margin: 0 0 -3px;
}
.main-page {
    background: url('../images/bg-main.png') repeat scroll 0% 0% transparent;
}
.precert-page .logo {
    display: block;
    background: url(../images/logo/logo.png) no-repeat;
    width: 142px;
    height: 85px;
    margin: 15px 30px;
}
/* NAVIGATION */
#nav {
    overflow: hidden;
    background: #1f282d;
    padding: 26px 20px;
    text-transform: capitalize;
    font: 400 15px/20px 'Open Sans', Arial, sans-serif;
}
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}
#nav ul li {
    display: table-cell;
    padding: 0 6px 0 8px;
}
.patients_heading {
    padding: 5px 15px;
}
.patient_title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}

/* PATIENT LIST */

/* /PATIENT LIST */


/* PATIENT DETAILS */

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

/* /PATIENT DETAILS */




/* MEDIA QUERIES */
@media (min-width: 1250px) {
    .container {
        width: 1270px;
    }
}
/* MEDIA QUERIES */

/*
BOOTSTRAP FIX
*/
.modal-dialog {
    z-index: 2000;
}
.modal {
    z-index: 2050;
}