<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ADD CASE</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="addCase()">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td>Case Type:</td>
                                    <td>
                                        <select ng-model="case.CaseType" class="form-control">
                                            <option value="3">PIP</option>
                                            <option value="5">WC</option>
                                            <option value="2">Lien</option>
                                            <option value="4">Major Medical</option>
                                            <option value="1">Cash</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Reffering Doctor:</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="case.DoctorID" placeholder="Reffering Doctor" ng-options="doc.DoctorID as doc.Firstname + ' ' + doc.Lastname + ' ' +doc.Practice + ' ' for doc in doctors" bs-typeahead/>
                                        <span title="Add Doctor" data-toggle="modal" data-target="#addDoctorModal"><img src="images/icons/addcase.png"/></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case Status:</td>
                                    <td>
                                        <select ng-model="case.CaseStatus" class="form-control">
                                            <option value="Eligible">Eligible</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Not Eligible">Not Eligible</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Policy Exhausted:</td>
                                    <td>
                                        Yes: <input type="radio" value="Y" ng-model="case.PolicyExhausted">
                                        No: <input type="radio" value="N" ng-model="case.PolicyExhausted">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td>Case Type:</td>
                                    <td>
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                                   ng-model="case.DOA" is-open="opened" min-date="minDate"
                                                   max-date="'2015-06-22'" datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)" ng-required="true"
                                                   close-text="Close"
                                                   placeholder="mm/dd/yyyy"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Reffering Attorney:</td>
                                    <td>
                                        <input type="text" class="form-control" ng-model="case.AttorneyID" placeholder="Reffering Attorney" ng-options="attorney.AttorneyID as attorney.Firstname + ' ' + attorney.Lastname for attorney in attorneys" bs-typeahead/>
                                        <span title="Add Attorney" data-toggle="modal" data-target="#addAttorneyModal"><img src="images/icons/addcase.png"/></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Diagnosis Codes:</td>
                                    <td><input type="text" class="form-control" ng-model="case.diagnosisCodes"/></td>
                                </tr>
                                <tr>
                                    <td>Policy Limit:</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" ng-model="case.PolicyLimit" placeholder="Policy Limit">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Deductible:</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" ng-model="case.Deductible" placeholder="Deductible">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Co-Payment:</td>
                                    <td><input type="text" class="form-control" ng-model="case.CoPay" placeholder="Co-Payment"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button ng-show="isEmpty(choosenInsurances[0].data)" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#insuranceModal1" >Add Primary Insurance</button>
                            <div ng-hide="isEmpty(choosenInsurances[0].data)">
                                Primary Insurance
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>Claim: {{choosenInsurances[0].data.ClaimNumber}}</div>
                                        <div>Policy: {{choosenInsurances[0].data.PolicyNumber}}</div>
                                        <div>Group Id: {{choosenInsurances[0].data.GroupId}}</div>
                                        <div>Adjuster Name: {{choosenInsurances[0].data.AdjusterName}}</div>
                                        <div>Adjuster Phone: {{choosenInsurances[0].data.AdjusterPhone}} {{choosenInsurances[0].data.AdjusterPhoneExt}}</div>
                                        <div>Adjuster Fax: {{choosenInsurances[0].data.AdjusterFax}}</div>

                                        <div ng-show="insurance1.PolicyHolder">
                                            <div>Policy Holder:</div>
                                            <div>{{choosenInsurances[0].data.FirstName}} {{choosenInsurances[0].data.LastName}}</div>
                                            <div>{{choosenInsurances[0].data.Address}} {{choosenInsurances[0].data.Address2}} {{choosenInsurances[0].data.City}} {{choosenInsurances[0].data.State}} {{choosenInsurances[0].data.ZIP}}</div>
                                            <div>{{choosenInsurances[0].data.Phone}} </div>
                                            <div>Relationship: {{choosenInsurances[0].data.relationship}} </div>
                                        </div>
                                        <div ng-hide="insurance1.PolicyHolder">Self Insured</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button ng-show="isEmpty(choosenInsurances[1].data)" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#insuranceModal2" >Add Secondary Insurance</button>
                            <div ng-hide="isEmpty(choosenInsurances[1].data)">
                                Secondary Insurance
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>Claim: {{choosenInsurances[1].data.ClaimNumber}}</div>
                                        <div>Policy: {{choosenInsurances[1].data.PolicyNumber}}</div>
                                        <div>Group Id: {{choosenInsurances[1].data.GroupId}}</div>
                                        <div>Adjuster Name: {{choosenInsurances[1].data.AdjusterName}}</div>
                                        <div>Adjuster Phone: {{choosenInsurances[1].data.AdjusterPhone}} {{choosenInsurances[1].data.AdjusterPhoneExt}}</div>
                                        <div>Adjuster Fax: {{choosenInsurances[1].data.AdjusterFax}}</div>

                                        <div ng-show="insurance2.PolicyHolder">
                                            <div>Policy Holder:</div>
                                            <div>{{choosenInsurances[1].data.FirstName}} {{choosenInsurances[1].data.LastName}}</div>
                                            <div>{{choosenInsurances[1].data.Address}} {{choosenInsurances[1].data.Address2}} {{choosenInsurances[1].data.City}} {{choosenInsurances[1].data.State}} {{choosenInsurances[1].data.ZIP}}</div>
                                            <div>{{choosenInsurances[1].data.Phone}} </div>
                                            <div>Relationship: {{choosenInsurances[0].data.relationship}} </div>
                                        </div>
                                        <div ng-hide="insurance2.PolicyHolder">Self Insured</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button ng-show="isEmpty(choosenInsurances[2].data)" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#insuranceModal3" >Add Tertiary Insurance</button>
                            <div ng-hide="isEmpty(choosenInsurances[2].data)">
                                Tertiary Insurance
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>Claim: {{choosenInsurances[2].data.ClaimNumber}}</div>
                                        <div>Policy: {{choosenInsurances[2].data.PolicyNumber}}</div>
                                        <div>Group Id: {{choosenInsurances[2].data.GroupId}}</div>
                                        <div>Adjuster Name: {{choosenInsurances[2].data.AdjusterName}}</div>
                                        <div>Adjuster Phone: {{choosenInsurances[2].data.AdjusterPhone}} {{choosenInsurances[2].data.AdjusterPhoneExt}}</div>
                                        <div>Adjuster Fax: {{choosenInsurances[2].data.AdjusterFax}}</div>

                                        <div ng-show="insurance3.PolicyHolder">
                                            <div>Policy Holder:</div>
                                            <div>{{choosenInsurances[2].data.FirstName}} {{choosenInsurances[2].data.LastName}}</div>
                                            <div>{{choosenInsurances[2].data.Address}} {{choosenInsurances[2].data.Address2}} {{choosenInsurances[2].data.City}} {{choosenInsurances[2].data.State}} {{choosenInsurances[2].data.ZIP}}</div>
                                            <div>{{choosenInsurances[2].data.Phone}} </div>
                                            <div>Relationship: {{choosenInsurances[0].data.relationship}} </div>
                                        </div>
                                        <div ng-hide="insurance3.PolicyHolder">Self Insured</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">Notes:</div>
                        <div class="col-xs-9"><textarea class="form-control" cols="30" rows="3" ng-model="case.Notes" required></textarea></div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/patients"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Add attorney modal -->
<div class="modal fade" id="addAttorneyModal" tabindex="-1" role="dialog" aria-labelledby=addAttorneyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form ng-submit="addAttorneyForm()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add attorney</h4>
            </div>
            <div class="modal-body">
                    <table class="table borderless">
                        <tr>
                            <td>First Name</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Firstname" placeholder="First Name" required/></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Lastname" placeholder="Last Name" required/></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Address" placeholder="Address"/></td>
                        </tr>
                        <tr>
                            <td>Address 2</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Address2" placeholder="Address 2"/></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.City" placeholder="City"/></td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>
                                <select class="form-control" ng-model="addAttorney.State">
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ" selected="selected">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ZIP</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.ZIP" placeholder="ZIP code"/></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Phone" ui-mask="999-999-9999" placeholder="___-___-____" required/></td>
                        </tr>
                        <tr>
                            <td>Phone 2</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Phone2" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Fax" placeholder="Fax"/></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" class="form-control" ng-model="addAttorney.Email" placeholder="Email"/></td>
                        </tr>
                        <tr>
                            <td>Practice</td>
                            <td><input type="text" class="form-control" ng-model="addAttorney.Practice" placeholder="Practice" required/></td>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            </form>
        </div>
    </div>
</div>


<!-- Add doctor modal -->
<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby=addDoctorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form ng-submit="addDoctorForm()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add doctor</h4>
            </div>
            <div class="modal-body">
                    <table class="table borderless">
                        <tr>
                            <td>Parent</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.ParentID" placeholder="Parent Name" ng-options="doc.DoctorID as doc.Firstname + ' ' + doc.Lastname for doc in doctors" bs-typeahead/></td>
                        </tr>
                        <tr>
                            <td>Practice</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Practice" placeholder="Practice" required/></td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Firstname" placeholder="First Name" required/></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Lastname" placeholder="Last Name" required/></td>
                        </tr>
                        <tr>
                            <td>Specialty</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Specialty" placeholder="Specialty"/></td>
                        </tr>
                        <tr>
                            <td>NPI</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.NPI" placeholder="NPI"/></td>
                        </tr>
                        <tr>
                            <td>License</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.License" placeholder="License"/></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Address" placeholder="Address"/></td>
                        </tr>
                        <tr>
                            <td>Address 2</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Address2" placeholder="Address 2"/></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.City" placeholder="City"/></td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>
                                <select class="form-control" ng-model="addDoctor.State">
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ" selected="selected">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>ZIP</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.ZIP" placeholder="ZIP code"/></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Phone" ui-mask="999-999-9999" placeholder="___-___-____" required/></td>
                        </tr>
                        <tr>
                            <td>Phone 2</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Phone2" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Fax" placeholder="Fax"/></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" class="form-control" ng-model="addDoctor.Email" placeholder="Email"/></td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Username" placeholder="Username"/></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="text" class="form-control" ng-model="addDoctor.Password" placeholder="Password"/></td>
                        </tr>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            </form>
        </div>
    </div>
</div>


<!-- Primary Insurance Modal -->
<div class="modal fade" id="insuranceModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Insurances</h4>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tr>
                        <td>Primary Insurance</td>
                        <td>
                            <input type="hidden" ng-model="insurance1.type" value="1"/>
                            <input type="text" class="form-control" ng-model="insurance1.ID" placeholder="Primary Insurance" ng-options="ins.ID as ins.Name for ins in insurances" bs-typeahead/>
                            <span title="Add insurance" data-toggle="modal" data-target="#addInsurance"><img src="images/icons/addcase.png"/></span>
                            {{insurance1.Name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Claim Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.ClaimNumber" placeholder="Claim Number"/></td>
                        <td>Adjuster Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.AdjusterName" placeholder="Adjuster Name"/></td>
                    </tr>
                    <tr>
                        <td>Policy Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.PolicyNumber" placeholder="Policy Number"/></td>
                        <td>Adjuster Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.AdjusterPhone" placeholder="Adjuster Phone"/></td>
                    </tr>
                    <tr>
                        <td>Group Id</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.GroupId" placeholder="Group Id"/></td>
                        <td>Adjuster Fax</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.AdjusterFax" placeholder="Adjuster Fax"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance1.AdjusterPhoneExt" placeholder="Ext"/></td>
                    </tr>
                    <tr>
                        <td>Policy Holder</td>
                        <td>Same as Patient <input type="radio" ng-model="insurance1.PolicyHolder" value="false" ng-checked="true"/> Different  <input type="radio" ng-model="insurance1.PolicyHolder" value="true"/> </td>
                    </tr>
                </table>
                <table class="table borderless" ng-show="insurance1.PolicyHolder">
                    <tr>
                        <td>Policy Holder's Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.FirstName" placeholder="First Name"/></td>
                        <td></td>
                        <td><input type="text" class="form-control" ng-model="insurance1.MiddleName" placeholder="Middle Name"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance1.LastName" placeholder="Last Name"/></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.Address" placeholder="Address"/></td>
                        <td>Address 2</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.Address2" placeholder="Address 2"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.City" placeholder="City"/></td>
                        <td>State</td>
                        <td>
                            <select ng-model="insurance1.State" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" ng-model="insurance1.ZIP" placeholder="ZIP"/></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance1.Phone" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                        <td>Relationship to Patient</td>
                        <td>
                            <select class="form-control" ng-model="insurance1.relationship">
                                <option value="Spouse">Spouse</option>
                                <option value="Child">Child</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addInsurance1()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Secondary Insurance Modal -->
<div class="modal fade" id="insuranceModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Insurances</h4>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tr>
                        <td>Secondary Insurance</td>
                        <td>
                            <input type="hidden" ng-model="insurance2.type" value="2"/>
                            <input type="text" class="form-control" ng-model="insurance2.ID" placeholder="Secondary Insurance" ng-options="ins.ID as ins.Name for ins in insurances" bs-typeahead/>
                            <span title="Add insurance" data-toggle="modal" data-target="#addInsurance"><img src="images/icons/addcase.png"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Claim Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.ClaimNumber" placeholder="Claim Number"/></td>
                        <td>Adjuster Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.AdjusterName" placeholder="Adjuster Name"/></td>
                    </tr>
                    <tr>
                        <td>Policy Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.PolicyNumber" placeholder="Policy Number"/></td>
                        <td>Adjuster Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.AdjusterPhone" placeholder="Adjuster Phone"/></td>
                    </tr>
                    <tr>
                        <td>Group Id</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.GroupId" placeholder="Group Id"/></td>
                        <td>Adjuster Fax</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.AdjusterFax" placeholder="Adjuster Fax"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance2.AdjusterPhoneExt" placeholder="Ext"/></td>
                    </tr>
                    <tr>
                        <td>Policy Holder</td>
                        <td>Same as Patient <input type="radio" ng-model="insurance2.PolicyHolder" value="false" ng-checked="true"/> Different  <input type="radio" ng-model="insurance2.PolicyHolder" value="true"/> </td>
                    </tr>
                </table>
                <table class="table borderless" ng-show="insurance2.PolicyHolder">
                    <tr>
                        <td>Policy Holder's Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.FirstName" placeholder="First Name"/></td>
                        <td></td>
                        <td><input type="text" class="form-control" ng-model="insurance2.MiddleName" placeholder="Middle Name"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance2.LastName" placeholder="Last Name"/></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.Address" placeholder="Address"/></td>
                        <td>Address 2</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.Address2" placeholder="Address 2"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.City" placeholder="City"/></td>
                        <td>State</td>
                        <td>
                            <select ng-model="insurance2.State" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" ng-model="insurance2.ZIP" placeholder="ZIP"/></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance2.Phone" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                        <td>Relationship to Patient</td>
                        <td>
                            <select class="form-control" ng-model="insurance2.relationship">
                                <option value="Spouse">Spouse</option>
                                <option value="Child">Child</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addInsurance2()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Tertiary Insurance Modal -->
<div class="modal fade" id="insuranceModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Insurances</h4>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tr>
                        <td>Tertiary Insurance</td>
                        <td>
                            <input type="hidden" ng-model="insurance3.type" value="3"/>
                            <input type="text" class="form-control" ng-model="insurance3.ID" placeholder="Tertiary Insurance" ng-options="ins.ID as ins.Name for ins in insurances" bs-typeahead/>
                            <span title="Add insurance" data-toggle="modal" data-target="#addInsurance"><img src="images/icons/addcase.png"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Claim Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.ClaimNumber" placeholder="Claim Number"/></td>
                        <td>Adjuster Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.AdjusterName" placeholder="Adjuster Name"/></td>
                    </tr>
                    <tr>
                        <td>Policy Number</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.PolicyNumber" placeholder="Policy Number"/></td>
                        <td>Adjuster Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.AdjusterPhone" placeholder="Adjuster Phone"/></td>
                    </tr>
                    <tr>
                        <td>Group Id</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.GroupId" placeholder="Group Id"/></td>
                        <td>Adjuster Fax</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.AdjusterFax" placeholder="Adjuster Fax"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance3.AdjusterPhoneExt" placeholder="Ext"/></td>
                    </tr>
                    <tr>
                        <td>Policy Holder</td>
                        <td>Same as Patient <input type="radio" ng-model="insurance3.PolicyHolder" value="false" ng-checked="true"/> Different  <input type="radio" ng-model="insurance3.PolicyHolder" value="true"/> </td>
                    </tr>
                </table>
                <table class="table borderless" ng-show="insurance3.PolicyHolder">
                    <tr>
                        <td>Policy Holder's Name</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.FirstName" placeholder="First Name"/></td>
                        <td></td>
                        <td><input type="text" class="form-control" ng-model="insurance3.MiddleName" placeholder="Middle Name"/></td>
                        <td><input type="text" class="form-control" ng-model="insurance3.LastName" placeholder="Last Name"/></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.Address" placeholder="Address"/></td>
                        <td>Address 2</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.Address2" placeholder="Address 2"/></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.City" placeholder="City"/></td>
                        <td>State</td>
                        <td>
                            <select ng-model="insurance3.State" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" ng-model="insurance3.ZIP" placeholder="ZIP"/></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input type="text" class="form-control" ng-model="insurance3.Phone" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                        <td>Relationship to Patient</td>
                        <td>
                            <select class="form-control" ng-model="insurance3.relationship">
                                <option value="Spouse">Spouse</option>
                                <option value="Child">Child</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addInsurance3()">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- Add new insurance Modal -->
<div class="modal fade" id="addInsurance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form ng-submit="newInsurance()">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Insurance</h4>
            </div>
            <div class="modal-body">
                <table class="table borderless">
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" ng-model="newinsurance.Name" placeholder="Name" class="form-control" required/></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><input type="text" ng-model="newinsurance.Address" placeholder="Address" class="form-control" required/></td>
                    </tr>
                    <tr>
                        <td>Address 2:</td>
                        <td><input type="text" ng-model="newinsurance.Address2" placeholder="Address 2" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" ng-model="newinsurance.City" placeholder="City" class="form-control" required/></td>
                    </tr>
                    <tr>
                        <td>State:</td>
                        <td>
                            <select ng-model="newinsurance.State" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td><input type="text" ng-model="newinsurance.Zip" placeholder="Zip" required class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>Is Health:</td>
                        <td>Yes: <input type="radio" ng-model="newinsurance.IsHealth" ng-value="true" value="y"/> No: <input type="radio" ng-model="newinsurance.IsHealth" value="n"/></td>
                    </tr>
                    <tr>
                        <td>Billing Phone:</td>
                        <td><input type="text" ng-model="newinsurance.billingPhone" placeholder="Billing Phone" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>Billing Fax:</td>
                        <td><input type="text" ng-model="newinsurance.billingFax" placeholder="Billing Fax" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>Pre-Cert Phone:</td>
                        <td><input type="text" ng-model="newinsurance.precertPhone" placeholder="Pre-Cert Phone" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td>Pre-Cert Fax:</td>
                        <td><input type="text" ng-model="newinsurance.precertFax" placeholder="Pre-Cert Fax" class="form-control"/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        </form>
    </div>
</div>