<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
		<div class="panel-body">
			<form ng-submit="addBill()">
				<table class="table borderless">
					<tr ng-hide="billing.case_id.length">
						<td>Patient:</td>
						<td><input type="text" class="form-control" placeholder="Patient Name" ng-model="billing.patient_id" ng-options="patient.PatientID as patient.FirstName + ' ' + patient.LastName for patient in patients" bs-typeahead/></td>
						<td>D.O.A.</td>
						<td>
							<select class="form-control" ng-init="case = cases[0]" ng-model="billing.case_id" ng-options="case.CaseID as (case.DOA | doa) for case in cases">
								<option value>Select case</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Provider:</td>
						<td>
							<select class="form-control" ng-init="case = cases[0]" ng-model="billing.calendar_id" ng-options="calendar.CalendarID as calendar.lastName + ' ' + calendar.firstName for calendar in calendars">
								<option value>Select case</option>
							</select>
						</td>
						<td>Patient's Condition:</td>
						<td>
							<div class="row">
								<div class="col-xs-3">Employment?</div>
								<div class="col-xs-3">Yes <input type="radio" ng-model="billing.Employment" value="1"></div>
								<div class="col-xs-3">No <input type="radio" ng-model="billing.Employment" value="0"></div>
								<div class="col-xs-3"></div>
							</div>
							<div class="row">
								<div class="col-xs-3">Auto Accident?</div>
								<div class="col-xs-3">Yes <input type="radio" ng-model="billing.AutoAccident" value="1"></div>
								<div class="col-xs-3">No <input type="radio" ng-model="billing.AutoAccident" value="0"></div>
								<div class="col-xs-3">
								<select class="form-control" ng-model="billing.PatientConditionState">
									<option value="AL" >AL</option>
									<option value="AK" >AK</option>
									<option value="AZ" >AZ</option>
									<option value="AR" >AR</option>
									<option value="CA" >CA</option>
									<option value="CO" >CO</option>
									<option value="CT" >CT</option>
									<option value="DE" >DE</option>
									<option value="DC" >DC</option>
									<option value="FL" >FL</option>
									<option value="GA" >GA</option>
									<option value="HI" >HI</option>
									<option value="ID" >ID</option>
									<option value="IL" >IL</option>
									<option value="IN" >IN</option>
									<option value="IA" >IA</option>
									<option value="KS" >KS</option>
									<option value="KY" >KY</option>
									<option value="LA" >LA</option>
									<option value="ME" >ME</option>
									<option value="MD" >MD</option>
									<option value="MA" >MA</option>
									<option value="MI" >MI</option>
									<option value="MN" >MN</option>
									<option value="MS" >MS</option>
									<option value="MO" >MO</option>
									<option value="MT" >MT</option>
									<option value="NE" >NE</option>
									<option value="NV" >NV</option>
									<option value="NH" >NH</option>
									<option value="NJ" >NJ</option>
									<option value="NM" >NM</option>
									<option value="NY" >NY</option>
									<option value="NC" >NC</option>
									<option value="ND" >ND</option>
									<option value="OH" >OH</option>
									<option value="OK" >OK</option>
									<option value="OR" >OR</option>
									<option value="PA" >PA</option>
									<option value="RI" >RI</option>
									<option value="SC" >SC</option>
									<option value="SD" >SD</option>
									<option value="TN" >TN</option>
									<option value="TX" >TX</option>
									<option value="UT" >UT</option>
									<option value="VT" >VT</option>
									<option value="VA" >VA</option>
									<option value="WA" >WA</option>
									<option value="WV" >WV</option>
									<option value="WI" >WI</option>
									<option value="WY" >WY</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">Other Accident?</div>
								<div class="col-xs-3">Yes <input type="radio" ng-model="billing.OtherAccident" value="1"></div>
								<div class="col-xs-3">No <input type="radio" ng-model="billing.OtherAccident" value="0"></div>
								<div class="col-xs-3"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>Diagnosis Codes:</td>
						<td colspan="3">
							<div class="row">
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">A</span>
										<input type="text" class="form-control" ng-model="billing.template.code.A">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">B</span>
										<input type="text" class="form-control" ng-model="billing.template.code.B">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">C</span>
										<input type="text" class="form-control" ng-model="billing.template.code.C">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">D</span>
										<input type="text" class="form-control" ng-model="billing.template.code.D">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">E</span>
										<input type="text" class="form-control" ng-model="billing.template.code.E">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">F</span>
										<input type="text" class="form-control" ng-model="billing.template.code.F">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">G</span>
										<input type="text" class="form-control" ng-model="billing.template.code.G">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">H</span>
										<input type="text" class="form-control" ng-model="billing.template.code.H">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">I</span>
										<input type="text" class="form-control" ng-model="billing.template.code.I">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">J</span>
										<input type="text" class="form-control" ng-model="billing.template.code.J">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">K</span>
										<input type="text" class="form-control" ng-model="billing.template.code.K">
									</div>
								</div>
								<div class="col-xs-3">
									<div class="input-group">
										<span class="input-group-addon">L</span>
										<input type="text" class="form-control" ng-model="billing.template.code.L">
									</div>
								</div>
							</div>
						</td>
					<tr>
						<td>Template:</td>
						<td>
							<select ng-model="template.TemplateID" class="form-control" ng-change="loadTemplate(template.TemplateID)">
								<option ng-selected="{{operator.value == template.TemplateID}}"
										ng-repeat="template in billing.templates"
										value="{{template.TemplateID}}"	>
									{{template.Name}}
								</option>
							</select>
						</td>
					</tr>
				</table>
				<table class="table">
					<tr>
						<th>D.O.S.</th>
						<th>CPT Code</th>
						<th>Modifiers</th>
						<th>Units</th>
						<th>Diagnosis Pointers</th>
						<th>Amount</th>
						<th>Total</th>
						<th></th>
					</tr>
					<tr ng-repeat="(fitem, item) in billing.template.items">
						<td><input type="text" ng-model="item.DOS" placeholder="mm/dd/yyyy" class="form-control"/></td>
						<td><input type="text" ng-model="item.CPTCode" class="form-control" ng-blur="cptCodeChange(this)"/></td>
						<td>
							<div ng-repeat="(fmod, mod) in item.Modifiers">
								<div class="row">
									<div class="col-xs-6"><input type="text" ng-model="mod.code" class="form-control"/></div>
									<div class="col-xs-6">
										<span ng-click="addMod(item.Modifiers)"><img src="images/math-add-icon.png"/></span>
										<span ng-click="delMod(fmod, item.Modifiers)"><img src="images/math-minus-icon.png"/></span>
									</div>
								</div>
							</div>
						</td>
						<td>
							<select class="form-control" ng-model="item.Units">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</td>
						<td>
							<div ng-repeat="(fpoint, point) in item.digPointers">
								<div class="row">
									<div class="col-xs-6">
										<select ng-model="point.code" class="form-control">
											<option value="A">A</option>
											<option value="B">B</option>
											<option value="C">C</option>
											<option value="D">D</option>
											<option value="E">E</option>
											<option value="F">F</option>
											<option value="G">G</option>
											<option value="H">H</option>
											<option value="I">I</option>
											<option value="J">J</option>
											<option value="K">K</option>
											<option value="L">L</option>
										</select>
									</div>
									<div class="col-xs-6">
										<span ng-click="addPoint(item.digPointers)"><img src="images/math-add-icon.png"/></span>
										<span ng-click="delPoint(fpoint, item.digPointers)"><img src="images/math-minus-icon.png"/></span>
									</div>
								</div>
							</div>
						</td>
						<td  style="width:140px;">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" ng-model="item.Amount">
							</div>
						</td>
						<td>{{item.Total}}</td>
						<td>
							<span ng-click="addItem()"><img src="images/math-add-icon.png"/></span>
							<span ng-click="delItem(fitem)"><img src="images/math-minus-icon.png"/></span>
						</td>
					</tr>
				</table>
				<table class="table borderless">
					<tr>
						<td>Box No. 19 :</td>
						<td><input type="text" class="form-control" placeholder="Box No. 19" ng-model="billing.BoxNo19" /></td>
					</tr>
					<tr>
						<td>Notes :</td>
						<td><textarea ng-model="billing.Notes" placeholder="Notes" class="form-control"></textarea></td>
					</tr>
				</table>
				<button type="submit" class="btn btn-danger pull-right">Save</button>
				<a href="#/billing"><button type="button" class="btn btn-danger pull-right">Back</button></a>
			</form>
		</div>
    </div>
</div>