<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">ATTORNEYS</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/attorney/new"><button type="button" class="btn btn-default btn-block">New Attorney</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Practice</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="attorney in attorneys | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage">
                        <td><a href="#/attorney/{{attorney.AttorneyID}}">{{attorney.Firstname}} {{attorney.Lastname}}</a></td>
                        <td>{{attorney.Practice}}</td>
                        <td>{{attorney.Phone}}</td>
                        <td>{{attorney.Email}}</td>
                        <td>{{attorney.City}}</td>
                        <td>{{attorney.IsDeleted | status}}</td>
                        <td>
                            <a href="#/attorney/{{attorney.AttorneyID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                            <span ng-click="deactivate(attorney)" ng-show="attorney.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></span>
                            <span ng-click="activate(attorney)" ng-show="attorney.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></span>
                        </td>
                    </tr>
                </table>
                <pagination total-items="attorneys.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemPerPage"></pagination>
                <!--<div>Showing {{(currentPage-1)*itemPerPage + 1}} to {{currentPage*itemPerPage}} of total {{attorneys.length}} Records</div>-->
            </div>
        </div>
    </div>
</div>