<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT ATTORNEY</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editAttorney()">
                    <input type="hidden" ng-model="attorney.AttorneyID"/>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td>First Name:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Firstname" placeholder="First Name"/></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Address" placeholder="Address"/></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.City" placeholder="City"/></td>
                                </tr>
                                <tr>
                                    <td>ZIP:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Zip" placeholder="Zip"/></td>
                                </tr>
                                <tr>
                                    <td>Phone2:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Phone2" placeholder="Phone2"/></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Email" placeholder="Email"/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td>Last Name:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Lastname" placeholder="Last Name"/></td>
                                </tr>
                                <tr>
                                    <td>Address2:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Address2" placeholder="Address2"/></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>
                                        <select class="form-control" ng-model="attorney.State">
                                            <option value="AL" >Alabama</option>
                                            <option value="AK" >Alaska</option>
                                            <option value="AZ" >Arizona</option>
                                            <option value="AR" >Arkansas</option>
                                            <option value="CA" >California</option>
                                            <option value="CO" >Colorado</option>
                                            <option value="CT" >Connecticut</option>
                                            <option value="DE" >Delaware</option>
                                            <option value="DC" >District Of Columbia</option>
                                            <option value="FL" >Florida</option>
                                            <option value="GA" >Georgia</option>
                                            <option value="HI" >Hawaii</option>
                                            <option value="ID" >Idaho</option>
                                            <option value="IL" >Illinois</option>
                                            <option value="IN" >Indiana</option>
                                            <option value="IA" >Iowa</option>
                                            <option value="KS" >Kansas</option>
                                            <option value="KY" >Kentucky</option>
                                            <option value="LA" >Louisiana</option>
                                            <option value="ME" >Maine</option>
                                            <option value="MD" >Maryland</option>
                                            <option value="MA" >Massachusetts</option>
                                            <option value="MI" >Michigan</option>
                                            <option value="MN" >Minnesota</option>
                                            <option value="MS" >Mississippi</option>
                                            <option value="MO" >Missouri</option>
                                            <option value="MT" >Montana</option>
                                            <option value="NE" >Nebraska</option>
                                            <option value="NV" >Nevada</option>
                                            <option value="NH" >New Hampshire</option>
                                            <option value="NJ" >New Jersey</option>
                                            <option value="NM" >New Mexico</option>
                                            <option value="NY" >New York</option>
                                            <option value="NC" >North Carolina</option>
                                            <option value="ND" >North Dakota</option>
                                            <option value="OH" >Ohio</option>
                                            <option value="OK" >Oklahoma</option>
                                            <option value="OR" >Oregon</option>
                                            <option value="PA" >Pennsylvania</option>
                                            <option value="RI" >Rhode Island</option>
                                            <option value="SC" >South Carolina</option>
                                            <option value="SD" >South Dakota</option>
                                            <option value="TN" >Tennessee</option>
                                            <option value="TX" >Texas</option>
                                            <option value="UT" >Utah</option>
                                            <option value="VT" >Vermont</option>
                                            <option value="VA" >Virginia</option>
                                            <option value="WA" >Washington</option>
                                            <option value="WV" >West Virginia</option>
                                            <option value="WI" >Wisconsin</option>
                                            <option value="WY" >Wyoming</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Phone" placeholder="Phone"/></td>
                                </tr>
                                <tr>
                                    <td>Fax:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Fax" placeholder="Fax"/></td>
                                </tr>
                                <tr>
                                    <td>Practice:</td>
                                    <td><input type="text" class="form-control" ng-model="attorney.Practice" placeholder="Practice"/></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/attorneys"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>

        {{patient}}
    </div>
</div>