<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
          <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">BILLING</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/add_billing/new"><button type="button" class="btn btn-default btn-block">New Bill</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Patient Name</th>
                        <th>Case (D.O.A.)</th>
                        <th>D.O.B.</th>
                        <th>Phone</th>
                        <th>Social Security Number</th>
                        <th>Action</th>
                    </tr>
                    <tbody ng-repeat="billing in billings | filter:searchQuery" ng-init="loading=[]">
                        <tr>
                            <td>
                                <span ng-click="loading[$index]=true" ng-hide="loading[$index]"><img src="images/math-add-icon.png"/></span>
                                <span ng-click="loading[$index]=false" ng-show="loading[$index]"><img src="images/math-minus-icon.png"/></span>
                                {{billing.FirstName}} {{billing.LastName}}
                            </td>
                            <td>{{billing.DOA}}</td>
                            <td>{{billing.DOB}}</td>
                            <td>{{billing.Phone}}</td>
                            <td>{{billing.SocialSecurityNumber}}</td>
                            <td>
                                <span title="Call Log"><img src="images/icons/call-icon.png"/></span>
                                <span title="Summarized Report"><img src="images/icons/print.png"/></span>
                                <a href="#/add_billing/{{billing.CaseID}}" title="New Bill"><img src="images/icons/New-Bill.png"/></a>
                            </td>
                        </tr>
                        <tr ng-show="loading[$index]">
                            <td colspan="6">
                                <table class="table">
                                    <tr>
                                        <td>Batch Id</td>
                                        <td>Date Created</td>
                                        <td>D.O.S.</td>
                                        <td>Billed</td>
                                        <td>Paid</td>
                                        <td>Status</td>
                                        <td>Action</td>
                                    </tr>
                                    <tr ng-repeat="bill in billing.billbatches">
                                        <td>{{bill.BatchID}}</td>
                                        <td>{{bill.BatchDate}}</td>
                                        <td>
                                            <span ng-repeat="date in bill.bills" ng-show="$first">{{date.DOS}}</span> -
                                            <span ng-repeat="date in bill.bills" ng-show="$last">{{date.DOS}}</span>
                                        </td>
                                        <td>$ {{totalBilled(bill.bills) | currency:''}}</td>
                                        <td>$ {{totalPaid(bill.bills) | currency:''}}</td>
                                        <td>{{bill.statuses.Name}}</td>
                                        <td>
                                            <span title="Change Status"><img src="images/icons/activate.png"/></span>
                                            <span title="View"><img src="images/icons/view.png"/></span>
                                            <span title="Print"><img src="images/icons/print.png"/></span>
                                            <a href="#/edit_billing/{{bill.BatchID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
											<span title="Delete"><img src="images/icons/Delete.png"/></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>