<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">BILLING TEMPLATES</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/billing_template/new"><button type="button" class="btn btn-default btn-block">New Template</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Cpt Codes</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="template in templates | filter:searchQuery">
                        <td><a href="#/billing_template/{{template.TemplateID}}">{{template.Name}}</a></td>
                        <td>
                            <span ng-repeat="code in template.codes">{{code.CPTCode}}<span ng-show=" ! $last ">,</span> </span>
                        </td>
                        <td>{{template.IsDeleted | status}}</td>
                        <td>
                            <a href="#/billing_template/{{template.TemplateID}}"><img src="images/icons/Edit.png"/></a>
                            <a href="javascript:;" ng-click="statusTemplate(template)" ng-show="template.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></a>
                            <a href="javascript:;" ng-click="statusTemplate(template)" ng-show="template.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>