<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT TEMPLATE</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editTemplate()">
					<table class="table borderless">
						<tr>
							<td>Template Name:</td>
							<td colspan="4"><input type="text" class="form-control" ng-model="template.Name" placeholder="Template Name"/></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">A</span>
									<input type="text" class="form-control" ng-model="template.code.A">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">B</span>
									<input type="text" class="form-control" ng-model="template.code.B">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">C</span>
									<input type="text" class="form-control" ng-model="template.code.C">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">D</span>
									<input type="text" class="form-control" ng-model="template.code.D">
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">E</span>
									<input type="text" class="form-control" ng-model="template.code.E">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">F</span>
									<input type="text" class="form-control" ng-model="template.code.F">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">G</span>
									<input type="text" class="form-control" ng-model="template.code.G">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">H</span>
									<input type="text" class="form-control" ng-model="template.code.H">
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">I</span>
									<input type="text" class="form-control" ng-model="template.code.I">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">J</span>
									<input type="text" class="form-control" ng-model="template.code.J">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">K</span>
									<input type="text" class="form-control" ng-model="template.code.K">
								</div>
							</td>
							<td>
								<div class="input-group">
									<span class="input-group-addon">L</span>
									<input type="text" class="form-control" ng-model="template.code.L">
								</div>
							</td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<th>CPT Code</th>
							<th>Modifiers</th>
							<th>Units</th>
							<th>Description</th>
							<th>Diagnosis Pointers</th>
							<th>Amount</th>
							<th></th>
						</tr>
						<tr ng-repeat="(fitem, item) in template.items">
							<td><input type="text" ng-model="item.CPTCode" class="form-control" ng-blur="cptCodeChange(this)"/></td>
							<td>
								<div ng-repeat="(fmod, mod) in item.Modifiers">
									<div class="row">
										<div class="col-xs-6"><input type="text" ng-model="mod.code" class="form-control"/></div>
										<div class="col-xs-6">
											<span ng-click="addMod(item.Modifiers)"><img src="images/math-add-icon.png"/></span>
											<span ng-click="delMod(fmod, item.Modifiers)"><img src="images/math-minus-icon.png"/></span>
										</div>
									</div>
								</div>
							</td>
							<td>
								<select class="form-control" ng-model="item.Units">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</td>
							<td ng-model="item.Description">{{item.Description}}</td>
							<td>
								<div ng-repeat="(fpoint, point) in item.digPointers">
									<div class="row">
										<div class="col-xs-6">
											<select ng-model="point.code" class="form-control">
												<option value="A">A</option>
												<option value="B">B</option>
												<option value="C">C</option>
												<option value="D">D</option>
												<option value="E">E</option>
												<option value="F">F</option>
												<option value="G">G</option>
												<option value="H">H</option>
												<option value="I">I</option>
												<option value="J">J</option>
												<option value="K">K</option>
												<option value="L">L</option>
											</select>
										</div>
										<div class="col-xs-6">
											<span ng-click="addPoint(item.digPointers)"><img src="images/math-add-icon.png"/></span>
											<span ng-click="delPoint(fpoint, item.digPointers)"><img src="images/math-minus-icon.png"/></span>
										</div>
									</div>
								</div>
							</td>
							<td  style="width:140px;">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control" ng-model="item.Amount">
								</div>
							</td>
							<td>
								<span ng-click="addItem()"><img src="images/math-add-icon.png"/></span>
								<span ng-click="delItem(fitem)"><img src="images/math-minus-icon.png"/></span>
							</td>
						</tr>
					</table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/billing_template"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>