<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">CASE TYPES</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/case_types/new"><button type="button" class="btn btn-default btn-block">New Case Type</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Display Order</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="type in case_types | filter:searchQuery">
                        <td><a href="#/case_types/{{type.ID}}">{{type.Name}}</a></td>
                        <td>{{type.DisOrder}}</td>
                        <td>{{type.IsDeleted | status}}</td>
                        <td>
                            <a href="#/case_types/{{type.ID}}"><img src="images/icons/Edit.png"/></a>
                            <a href="#/case_types/{{type.ID}}" ng-show="type.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></a>
                            <a href="#/case_types/{{type.ID}}" ng-show="type.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>