<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT CASE TYPE</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editCaseType()">
                            <table class="table borderless">
                                <tr>
                                    <td>Case Type:</td>
                                    <td><input type="text" class="form-control" ng-model="casetype.Name" placeholder="Case Type"/></td>
                                </tr>
                                <tr>
                                    <td>Display Order:</td>
                                    <td><input type="text" class="form-control" ng-model="casetype.DisOrder" placeholder="Case Type"/></td>
                                </tr>
                            </table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/case_types"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>