<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <table class="table borderless">
            <tr>
                <td>Patient:</td>
                <td><input type="text" class="form-control" placeholder="Patient Name" ng-model="patient_id" ng-options="patient.PatientID as patient.FirstName + ' ' + patient.LastName for patient in patients" bs-typeahead/></td>
                <td>D.O.A.</td>
                <td>
                    <select class="form-control" ng-init="case = cases[0]" ng-model="case_id" ng-options="case.CaseID as (case.DOA | doa) for case in cases">
                        <option value>Select case</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">COLLECTION</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Batch #</th>
                        <th>Date Created</th>
                        <th>D.O.S.</th>
                        <th>Billed</th>
                        <th>Co/Ded</th>
                        <th>Paid</th>
                        <th>Status</th>
                        <th>Notes</th>
                    </tr>
                    <tbody ng-repeat="collection in collections" ng-init="loading=[]">
                    <tr>
                        <td>
                            <span ng-click="loading[$index]=true" ng-hide="loading[$index]"><img src="images/math-add-icon.png"/></span>
                            <span ng-click="loading[$index]=false" ng-show="loading[$index]"><img src="images/math-minus-icon.png"/></span>
                            {{collection.calendars.lastName}}_{{collection.calendars.firstName}}_{{collection.BatchDate | date:'ddMMyyyy'}}_{{collection.BatchID}}</td>
                        <td>{{collection.BatchDate}}</td>
                        <td>
                            <span ng-repeat="bill in collection.bills" ng-show="$first">{{bill.DOS}}</span> -
                            <span ng-repeat="bill in collection.bills" ng-show="$last">{{bill.DOS}}</span>
                        </td>
                        <td>$ {{getTotalBilled(collection.bills) | currency:''}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><span title="Notes"><img src="images/icons/view.png"/></span></td>
                    </tr>
                    <tr ng-show="loading[$index]">
                        <td colspan="8">
                            <table class="table">
                                <tr>
                                    <td>CPT Code (Unit)</td>
                                    <td>D.O.S.</td>
                                    <td>Billed Amount</td>
                                    <td>FS Amount</td>
                                    <td>Co/Ded</td>
                                    <td>Paid</td>
                                    <td>Status</td>
                                </tr>
                                <tr ng-repeat="bill in collection.bills">
                                    <td>
                                        <input type="checkbox" ng-model="bill.check"/>
                                        {{bill.CPTCode}} ({{bill.Units}})
                                    </td>
                                    <td>{{bill.DOS}}</td>
                                    <td>$ {{ getBilledAmount(bill) | currency:'' }}</td>
                                    <td>$ {{ bill.code_amount.Amount | currency:'' }}</td>
                                    <td><!-- todo Доделать--></td>
                                    <td><!-- todo Доделать--></td>
                                    <td>{{bill.status.Name}}</td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>Total {{collections.length}} records</div>
                <h3>Payment</h3>
                <a href="/#/payment"><button ng-click="'" class="btn btn-primary">Apply</button></a>

                <table class="table">
                    <tr>
                        <td>Payment Date</td>
                        <td>Paid By</td>
                        <td>Amount</td>
                        <td>Check #</td>
                        <td>Check Date</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="payment in payments">
                        <td>{{payment.DOP}}</td>
                        <td>{{payment.paidBy}}</td>
                        <td>$ {{payment.AmountPaid | currency:''}}</td>
                        <td>{{payment.CheckNo}}</td>
                        <td>{{payment.CheckDate}}</td>
                        <td><span title="Delete"><img src="images/icons/Delete.png" alt=""/></span><span title="Edit"><img src="images/icons/Edit.png" alt=""/></span></td>
                    </tr>
                </table>

                ===================







            </div>
        </div>
    </div>
</div>