<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">DOCTORS</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/doctors/new"><button type="button" class="btn btn-default btn-block">New Doctor</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Practice</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="doctor in doctors | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage">
                        <td><a href="#/doctors/{{doctor.DoctorID}}">{{doctor.Lastname}} {{doctor.Firstname}} </a></td>
                        <td>{{doctor.Practice}}</td>
                        <td>{{doctor.Phone}}</td>
                        <td>{{doctor.Email}}</td>
                        <td>{{doctor.City}}</td>
                        <td>{{doctor.IsDeleted | status}}</td>
                        <td>
                            <a href="#/doctors/{{doctor.DoctorID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                            <a href="#/doctors/{{doctor.DoctorID}}" ng-show="doctor.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></a>
                            <a href="#/doctors/{{doctor.DoctorID}}" ng-show="doctor.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></a>
                        </td>
                    </tr>
                </table>
                <pagination total-items="doctors.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemPerPage"></pagination>
                <div>Showing {{(currentPage-1)*itemPerPage + 1}} to {{currentPage*itemPerPage}} of total {{doctors.length}} Records</div>
            </div>
        </div>
    </div>
</div>