<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT DOCTOR</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editDoctor()">
                            <table class="table borderless">
                                <tr>
                                    <td>Parent:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.ParentID" placeholder="Parent"/></td>
                                    <td>Practice:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Practice" placeholder="Practice"/></td>
                                </tr>
                                <tr>
                                    <td>First Name:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Firstname" placeholder="First Name" required/></td>
                                    <td>Last Name:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Lastname" placeholder="Last Name" required/></td>
                                </tr>
                                <tr>
                                    <td>Specialty:</td>
                                    <td>
                                        <select class="form-control" ng-model="doctor.Specialty">
                                            <option value="Chiropractor">Chiropractor</option>
                                            <option value="Phsysical Therapist">Phsysical Therapist</option>
                                            <option value="Medical Doctor">Medical Doctor</option>
                                            <option value="Orthopaedist">Orthopaedist</option>
                                        </select>
                                    </td>
                                    <td>NPI:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.NPI" placeholder="NPI"/></td>
                                </tr>
                                <tr>
                                    <td>License:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.License" placeholder="License"/></td>
                                    <td>Address:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Address" placeholder="Last Name"/></td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Address2" placeholder="Address 2"/></td>
                                    <td>City:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.City" placeholder="City"/></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>
                                        <select ng-model="doctor.State" class="form-control">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ" selected="selected">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </td>
                                    <td>ZIP:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Zip" placeholder="Zip"/></td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Phone" ui-mask="999-999-9999" placeholder="___-___-____" placeholder="Phone"/></td>
                                    <td>Phone 2:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Phone2" ui-mask="999-999-9999" placeholder="___-___-____" placeholder="Phone 2"/></td>
                                </tr>
                                <tr>
                                    <td>Fax:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Fax" ui-mask="999-999-9999" placeholder="___-___-____" placeholder="Fax"/></td>
                                    <td>Email:</td>
                                    <td><input type="email" class="form-control" ng-model="doctor.Email" placeholder="Email"/></td>
                                </tr>
                                <tr>
                                    <td>Username:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Username" placeholder="Username"/></td>
                                    <td>Password:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Password" placeholder="Password"/></td>
                                </tr>
                            </table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/doctors"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>