<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT PATIENT</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editPatient()">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td>Name:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.FirstName" placeholder="First name" required/></td>
                                </tr>
                                <tr>
                                    <td>D.O.B.:</td>
                                    <td>
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                                   ng-model="patient.DOB" is-open="opened" min-date="minDate"
                                                   max-date="'2015-06-22'" datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)" ng-required="true"
                                                   close-text="Close"
                                                   placeholder="mm/dd/yyyy"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Social Security Number:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.SocialSecurityNumber" ui-mask="999-99-9999" placeholder="___-__-____"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Address" placeholder="Address" required/></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.City" placeholder="City" required/></td>
                                </tr>
                                <tr>
                                    <td>ZIP:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Zip" placeholder="Zipcode" required/></td>
                                </tr>
                                <tr>
                                    <td>Home Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Phone2" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                                </tr>
                                <tr>
                                    <td>Emergency Contact Name:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.EmergencyContactName" placeholder="Emergency Contact Name"/></td>
                                </tr>
                                <tr>
                                    <td>Notes:</td>
                                    <td><textarea ng-model="patient.Notes" class="form-control" rows="2" placeholder="Notes"></textarea></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table borderless">
                                <tr>
                                    <td><input type="text" class="form-control" ng-model="patient.MiddleName" placeholder="Middle name"/></td>
                                    <td><input type="text" class="form-control" ng-model="patient.LastName" placeholder="Last name" required/></td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td>
                                        <select ng-model="patient.Gender" class="form-control">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Drivers License:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Driverslicense" placeholder="Drivers License"/></td>
                                </tr>
                                <tr>
                                    <td>Address 2:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Address2" placeholder="Address 2"/></td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>
                                        <select ng-model="patient.State" class="form-control">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ" selected="selected">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cell Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.Phone" ui-mask="999-999-9999" placeholder="___-___-____" required/></td>
                                </tr>
                                <tr>
                                    <td>Alternative Phone:</td>
                                    <td><input type="text" class="form-control" class="form-control" ng-model="patient.Phone3" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                                </tr>
                                <tr>
                                    <td>Emergency Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="patient.EmergencyPhone" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                                </tr>
                                <tr></tr>

                            </table>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/patients"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>

        {{patient}}
    </div>
</div>