<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">EHR Template Management</h3>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                   <tr>
						<th>Name</th>
						<th>Duration</th>
						<th>Action</th>
					</tr>
									
					<tr ng-repeat="ehrt in ehrts">
						<td>{{ehrt.Name}}</td>
						<td>{{ehrt.Duration}}</td>
						<td>
							<a href="#/ehr_template_edit/{{ehrt.ProcedureID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
						</td>
					</tr>	
                </table>
            </div>
        </div>
    </div>
</div>