<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">EDIT EHR TEMPLATE</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form method="post" name="addEditEtemplate" id="addEditEtemplate" onsubmit="return validateaddEditEtemplate();" />
					<table class="table table-hover" ng-repeat="ehrt in ehrts">
						<tr>
							<td>
								<label>Procedure :</label>
								<select ng-model="ehrt.ProcedureID" class="form-control" style="width:400px;">
									<option ng-selected="{{operator.value == ehrt.ProcedureID}}"
											ng-init="ehrt.ProcedureID = {id:0}"
											ng-repeat="procedure in ehrt.procedures"
											value="{{procedure.ProcedureID}}">
										{{procedure.Name}}
									</option>
								</select>
							</td>
							<td>
								<label>Duration :</label>
								<input type="text" ng-model="ehrt.Duration" placeholder="Duration" class="form-control"/>
								<div class="input-group-btn-vertical duration-time-set ">
									<button class="btn btn-default" onclick="plusetime();return false;" style="margin-top:0px" ><i class="fa fa-caret-up"></i></button>
									<button class="btn btn-default" onclick="minustime();return false;"><i class="fa fa-caret-down"></i></button>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="4">
								<h4>Test Performed</h4>	
							</td>
						</tr>
						<tr>
							<td class="inner-tabel-width-set" >
								<table id="DynTable">
									<tr>
										<th>CPT Code</th>
										<th>Name</th>
										<th>&nbsp;</th>
									</tr>
									
									<tr ng-repeat="(epPoint, ehrProc) in ehrt.EhrProcedures">
										<td>
											<input ng-model="ehrProc.CPTCode" class="form-control" placeholder="CPT Code" />
										</td>
										<td>
											<input ng-model="ehrProc.Name" class="form-control" placeholder="Name" />
										</td>
										<td>
											<span ng-click="addPoint(item.digPointers)"><img src="images/math-add-icon.png"/></span>
											<span ng-click="delPoint(fpoint, item.digPointers)"><img src="images/math-minus-icon.png"/></span>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<input type="hidden" name="ProcedureId" id="ProcedureId" value="<?php echo $ProcedureId; ?>" />
					<input id="totCounter" name="totCounter" type="hidden" value="<?php echo $totCounterVal; ?>" >
					<input type="Submit" value="Save" id="saveForm" name="saveForm">
					<a href="/#/ehr_template"><input type="button" value="Back" ></a>
				</form>
            </div>
        </div>
    </div>
</div>