<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">EHR</h3>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Patient Name</th>
                        <th>Case (D.O.A.)</th>
                        <th>D.O.B.</th>
                        <th>Social Security Number</th>
                        <th>Action</th>
                    </tr>
                    <tbody ng-repeat="ehr in ehrs | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage" ng-init="loading=[]">
                    <tr>
                        <td>
                            <span ng-if="ehr.ehri" ng-click="loading[$index]=true"  ng-hide="loading[$index]"><img src="images/math-add-icon.png"/></span>
                            <span ng-if="ehr.ehri" ng-click="loading[$index]=false" ng-show="loading[$index]"><img src="images/math-minus-icon.png"/></span>
                            {{ehr.FirstName}} {{ehr.LastName}}
                        </td>
                        <td>{{ehr.DOA}}</td>
                        <td>{{ehr.DOB}}</td>
                        <td>{{ehr.SocialSecurityNumber}}</td>
                        <td>
                            <a href="#/new-ehr-dn/{{ehr.CaseID}}" title="Daily TX Note"><img src="images/icons/apply-Precerts.png"/></a>
                            <a href="#/new-medical-report/{{ehr.CaseID}}" title="New Medical Report"><img src="images/icons/New-Bill.png"/></a>
                        </td>
                    </tr>
                    <tr ng-if="ehr.ehri" ng-show="loading[$index]">
                        <td colspan="6">
                            <table class="table">
                                <tr>
                                    <td>EHR Id</td>
                                    <td>Date Of Report</td>
                                    <td>Type of Report</td>
                                    <td>Treating Doctor</td>
                                    <td>Action</td>
                                </tr>
                                <tr ng-repeat="ehri in ehr.ehri">
                                    <td>{{ehri.EhrID}}</td>
                                    <td>{{ehri.EhrDate}}</td>
                                    <td>{{ehri.Name}}</td>
                                    <td>{{ehri.firstName}} {{ehri.lastName}}</td>
                                    <td>
                                        <span title="Edit"><img src="images/icons/Edit.png"/></span>
                                        <span title="View & Print"><img src="images/icons/print.png"/></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-if="ehr.ehrr" ng-show="loading[$index]">
                        <td colspan="6">
                            <table class="table">
                                <tr>
                                    <td>Report Id</td>
                                    <td>Date Of Report</td>
                                    <td>Report Name</td>
                                    <td>Author</td>
                                    <td>Action</td>
                                </tr>
                                <tr ng-repeat="ehrr in ehr.ehrr">
                                    <td>{{ehrr.ReportID}}</td>
                                    <td>{{ehrr.ReportDate}}</td>
                                    <td>{{ehrr.ReportName}}</td>
                                    <td>{{ehrr.Author}}</td>
                                    <td>
                                        <span title="Edit"><img src="images/icons/Edit.png"/></span>
                                        <span title="Print Report"><img src="images/icons/print.png"/></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination total-items="ehr.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemPerPage"></pagination>
                <div>Showing {{(currentPage-1)*itemPerPage + 1}} to {{currentPage*itemPerPage}} of total {{ehr.length}} Records</div>
            </div>
        </div>
    </div>
</div>