<div class="container">
    <header id="header" class="precert-page">
        <div class="row">
            <div class="col-md-2"><strong class="logo"></strong></div>
            <div class="col-md-3"></div>
            <div class="col-md-7 header-links">
                <a href="#/settings" class="btn btn-primary pull-right"><img src="images/setting-icon.png" /> Setting</a>
            </div>
        </div>
    </header>
    <nav id="nav">
        <ul>
            <li class=""><a href="#">Schedule</a></li>
            <li class="patient"><a href="#/patients">Patients</a></li>
            <li class="reports "><a href="#">Reports</a></li>
            <li class="collection "><a href="#/collection">Collections</a></li>
            <li class="billing "><a href="#/billing">Billing</a></li>
            <li class="echarts "><a href="#">E-Files</a></li>
            <li class="ehr "><a href="#/ehr-all">EHR</a></li>
            <li class="precert "><a href="#">Pre-Certs</a></li>
            <li class="appeals "><a href="#">Appeals</a></li>

        </ul>
    </nav>
</div>
