<div ng-include src="'templates/header.html'"></div>

<div class="container">
<div class="main-page">
<div class="panel panel-default">
<div class="panel-heading patients_heading">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="patient_title">NEW DAILY TX NOTE</h3>
        </div>
    </div>
</div>
<div class="panel-body">
<form ng-submit="addNewEhrDN()">
<table ng-repeat="ehrdni in ehrdn" class="table borderless">
<tr>
    <td>Patient:</td>
    <td>{{ehrdni.FirstName}} {{ehrdni.LastName}}</td>
    <td>Case:</td>
    <td colspan="2">{{ehrdni.DOA}}</td>
</tr>
<tr>
    <td>Report&nbsp;Date:</td>
    <td>
        <p class="input-group" style="width: 400px;">
            <input type="text" class="form-control" datepicker-popup="{{format}}"
                   ng-model="ehrdni.sDate" is-open="opened" min-date="minDate"
                   max-date="'2015-06-22'" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true"
                   close-text="Close"
                   placeholder="mm/dd/yyyy"
                    />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
        </p>
    </td>
    <td>Procedure:</td>
    <td colspan="2">
        <select ng-model="ehrdni.ProcedureID" class="form-control" ng-change="procedureChange(ehrdni)">
            <option ng-selected="{{operator.value == ehrdni.ProcedureID}}"
                    ng-init="ehrdni.ProcedureID = {id:0}"
                    ng-repeat="procedure in ehrdni.procedures"
                    value="{{procedure.ProcedureID}}">
                {{procedure.Name}}
            </option>
        </select>
    </td>
</tr>
<tr class="form-tr-big">
    <td>Notes:</td>
    <td colspan="3"><textarea ng-model="ehrdni.Notes" placeholder="Notes" class="form-control"></textarea></td>
    <td>
        <a class="button-ned" href="javaScript:void(0);" ng-click="ehrdni.Notes = ehrdni.lastNotes;">Add Form Last Note</a>
        <select name="useTemp_notes" id="useTemp_notes" class="form-control" onchange="fillTemplate('notes')">
            <option value="">-- Use Template --</option>
            <option  ng-repeat="TempNote in ehrdni.TempNotes" value="TempNote.contant">{{TempNote.name}}</option>
        </select>
    </td>
</tr>
<tr class="form-tr-big">
    <td>Subjective:</td>
    <td colspan="3"><textarea ng-model="ehrdni.Subjective" placeholder="Subjective" class="form-control"></textarea></td>
    <td>
        <a class="button-ned" href="javaScript:void(0);"  ng-click="ehrdni.Subjective = ehrdni.lastSubjective;">Add Form Last Subjective</a>
        <select name="useTemp_subjective" id="useTemp_subjective" class="form-control" onchange="fillTemplate('subjective')">
            <option value="">-- Use Template --</option>
            <option  ng-repeat="TempSubjective in ehrdni.TempSubjectives" value="TempSubjective.contant">{{TempSubjective.name}}</option>
        </select>
    </td>
</tr>

<tr class="inner-tabel-width-set" id="procedureDetail" ng-if="ehrdni.EhrProcedures" >
    <td colspan="5">
        <table id="DynTable">
            <tr>
                <th style="width:50px; padding:15px 10px;"><input type="checkbox" id="checkAll" name="checkAll" value="" onctrck="chkAll();"></th>
                <th style="width:610px;">Description</th>
                <th style="width:110px;">CPT Code</th>
                <th style="width:80px;">Units</th>
            </tr>
            <tr ng-repeat="procedure in ehrdni.EhrProcedures">
                <td><input type="checkbox"  ></td>
                <td>{{procedure.Name}}</td>
                <td>{{procedure.CPTCode}}</td>
                <td class="custom-select">
                    <select name="units"  class="selest-set xhalf">
                    <option value="1" >1</option>
                    <option value="2" >2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                    </select>

                </td>
            </tr>
        </table>
    </td>
</tr>

<tr class="form-tr-big">
    <td>Assesment:</td>
    <td colspan="3"><textarea ng-model="ehrdni.Assesment" placeholder="Assesment" class="form-control"></textarea></td>
    <td>
        <a class="button-ned" href="javaScript:void(0);" ng-click="ehrdni.Assesment = ehrdni.lastAssesment;">Add Form Last Assesment</a>
        <select name="useTemp_assesment" id="useTemp_assesment" class="form-control" onchange="fillTemplate('assesment')">
            <option value="">-- Use Template --</option>
            <option  ng-repeat="TempAssesment in ehrdni.TempAssesments" value="TempAssesment.contant">{{TempAssesment.name}}</option>
        </select>
    </td>
</tr>
<tr class="form-tr-big">
    <td>Plan:</td>
    <td colspan="3"><textarea ng-model="ehrdni.Plan" placeholder="Plan" class="form-control"></textarea></td>
    <td>
        <a class="button-ned" href="javaScript:void(0);" ng-click="ehrdni.Plan = ehrdni.lastPlan;">Add Form Last Plan</a>
        <select name="useTemp_plan" id="useTemp_plan" class="form-control" onchange="fillTemplate('plan')">
            <option value="">-- Use Template --</option>
            <option  ng-repeat="TempPlan in ehrdni.TempPlans" value="TempPlan.contant">{{TempPlan.name}}</option>
        </select>
    </td>
</tr>

<tr>
    <td>Doctor:</td>
    <td>
        <select ng-model="ehrdni.CalendarID" class="form-control" style="width:400px;">
            <option ng-selected="{{operator.value == ehrdni.CalendarID}}"
                    ng-init="ehrdni.CalendarID = {id:0}"
                    ng-repeat="calender in ehrdni.calenders"
                    value="{{calender.CalendarID}}">
                {{calender.lastName}} {{calender.firstName}}
            </option>
        </select>

    </td>
</tr>
</table>
<input type="hidden" name="patientId" id="patientId" value="<?php echo $PatientID; ?>" />
<input type="hidden" name="caseId" id="caseId" value="<?php echo $CaseID; ?>" />
<input type="hidden" name="ehrId" id="ehrId" value="<?php echo $EhrID; ?>" />
<input type="Submit" value="Save" id="saveForm" name="saveForm">
<a href="/#/ehr-all">
    <input type="button" value="Back" >
</a>
</form>
</div>
</div>
</div>
</div>