<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">NEW MEDICAL REPORT</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>