<div ng-include src="'templates/header.html'"></div>
<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{patient.FirstName}} {{patient.LastName}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div>{{patient.FirstName}} {{patient.LastName}}</div>
                        <div>{{patient.Gender}}</div>
                        <div class="row">
                            <div class="col-md-4">
                                <div><b>DOB</b></div>
                                {{patinent.DOB}}
                            </div>
                            <div class="col-md-4">
                                <div><b>SS</b></div>
                                {{patient.SocialSecurityNumber}}
                            </div>
                            <div class="col-md-4">
                                <div><b>DL</b></div>
                                ???
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div><b>Case Status</b></div>
                                ???
                            </div>
                            <div class="col-md-4">
                                <div><b>Policy Limit</b></div>
                                ???
                            </div>
                            <div class="col-md-4">
                                <div><b>Policy Exhausted</b></div>
                                ???
                            </div>
                        </div>
                        <!-- Address panel -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>CURRENT ADDRESS</h4>
                                <div>{{patient.Address}} {{patient.Appartment}}</div>
                                <div>{{patient.City}}, {{patient.State}}, {{patient.Zip}}</div>
                                <div>
                                    <span class="label label-primary">History</span>
                                    <span class="label label-success">Update</span>
                                </div>
                                <hr/>
                                <h4>CONTACT INFORMATION</h4>
                                <div class="row">
                                    <div class="col-md-7">
                                        <table class="table borderless">
                                            <tr>
                                                <td><b>Cell:</b></td>
                                                <td>{{patient.Phone}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Home:</b></td>
                                                <td>{{patient.Phone2}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>ALT:</b></td>
                                                <td>{{patient.Phone3}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="label label-primary">History</span>
                                        <span class="label label-success">Update</span>
                                    </div>
                                </div>
                                <hr/>
                                <h4>EMERGENCY CONTACT INFORMATION</h4>
                                <div class="row">
                                    <div class="col-md-7">
                                        <table class="table borderless">
                                            <tr>
                                                <td><b>Name:</b></td>
                                                <td>{{patient.EmergencyContactName}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>Number:</b></td>
                                                <td>{{patient.EmergencyPhone}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="label label-primary">History</span>
                                        <span class="label label-success">Update</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>

            </div>
        </div>

    </div>
</div>