<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">PATIENTS</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/add_patient"><button type="button" class="btn btn-default btn-block">New Patient</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Patient Name</th>
                        <th>Date of Birth</th>
                        <th>Phone Number</th>
                        <th>Social Security Number</th>
                        <th>Action</th>
                    </tr>
                    <tbody ng-repeat="patient in patients | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage" ng-init="loading=[]">
                    <tr>
                        <td>
                            <span ng-click="loading[$index]=true;getCases($index)" ng-hide="loading[$index]"><img src="images/math-add-icon.png"/></span>
                            <span ng-click="loading[$index]=false" ng-show="loading[$index]"><img src="images/math-minus-icon.png"/></span>
                            <a href="#/patient/{{patient.PatientID}}">{{patient.FirstName}} {{patient.LastName}}</a>
                        </td>
                        <td>{{patient.DOB}}</td>
                        <td>{{patient.Phone}}</td>
                        <td>{{patient.SocialSecurityNumber}}</td>
                        <td>
                            <a href="#/edit_patient/{{patient.PatientID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                            <a href="#/add_case/{{patient.PatientID}}" title="Add Case"><img src="images/icons/addcase.png"/></a>
                            <a href="#/patient/{{patient.PatientID}}" title="Patient Overvew"><img src="images/icons/Patient-Overvew.png"/></a>
                            <a href="#" title="Delete"><img src="images/icons/Delete.png"/></a>
                        </td>
                    </tr>
                    <tr ng-show="loading[$index]">
                        <td colspan="5">
                            <table class="table">
                                <tr>
                                    <td>Date of Loss</td>
                                    <td>Referral Doctor</td>
                                    <td>Referral Attorney</td>
                                    <td>Insurance</td>
                                    <td>Billed</td>
                                    <td>Paid</td>
                                    <td>Action</td>
                                </tr>
                                <tr ng-repeat="case in patient.cases">
                                    <td>{{case.DOA | case_date | date:'MM/dd/yyyy'}}</td>
                                    <td>{{case.doctor.Firstname}} {{case.doctor.Lastname}}</td>
                                    <td>{{case.attorney.Firstname}} {{case.attorney.Lastname}}</td>
                                    <td>
                                        <div ng-repeat="ins in case.case_insurances">
                                            ({{ins.insType | insurance_type}}) {{ins.insurances.Name}}
                                        </div>
                                    </td>
                                    <td>$ {{getTotalBilled(case.bills) | currency:''}}</td>
                                    <td>$ {{getTotalPaid(case.bills) | currency:''}}</td>
                                    <td>
                                        <span title="Call log"><img src="images/icons/call-icon.png"/></span>
                                        <span title="Appointments"><img src="images/icons/Appointmnt.png"/></span>
                                        <span title="Billing"><img src="images/icons/billing.png"/></span>
                                        <span title="E-Files"><img src="images/icons/Echart.png"/></span>
                                        <a href="#/edit_case/{{case.CaseID}}"><span title="Edit"><img src="images/icons/Edit.png"/></span></a>
                                        <span title="Delete"><img src="images/icons/Delete.png"/></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                    <!--<tr ng-repeat="patient in patients | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage">-->
                        <!--<td><a href="#/patient/{{patient.PatientID}}">{{patient.FirstName}} {{patient.LastName}}</a></td>-->
                        <!--<td>{{patient.DOB}}</td>-->
                        <!--<td>{{patient.Phone}}</td>-->
                        <!--<td>{{patient.SocialSecurityNumber}}</td>-->
                        <!--<td>-->
                            <!--<a href="#/edit_patient/{{patient.PatientID}}" title="Edit"><img src="images/icons/Edit.png"/></a>-->
                            <!--<a href="#/add_case/{{patient.PatientID}}" title="Add Case"><img src="images/icons/addcase.png"/></a>-->
                            <!--<a href="#/patient/{{patient.PatientID}}" title="Patient Overvew"><img src="images/icons/Patient-Overvew.png"/></a>-->
                            <!--<a href="#" title="Delete"><img src="images/icons/Delete.png"/></a>-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
                <pagination total-items="patients.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemPerPage"></pagination>
                <div>Showing {{(currentPage-1)*itemPerPage + 1}} to {{currentPage*itemPerPage}} of total {{patients.length}} Records</div>
            </div>
        </div>
    </div>
</div>