<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <table class="table borderless" >
			<tr>
				<td>
					Patient Name:
				</td>
				<td>
					{{collect.patient.FirstName}} {{collect.patient.LastName}}
				</td>
				<td>
					Date of Payment:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
				<td>
					Case (D.O.A):
				</td>
				<td>
					
				</td>
				<td>
					Check #:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td>
					Billed Amount:
				</td>
				<td>
					{{collect.payment.amounts}}
				</td>
				<td>
					Check Date:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td>
					Paid By:
				</td>
				<td>
					<select name="paidBy" id="paidBy" class="form-control" ></select>
				</td>
				<td>
					Amount:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td>
					Batch #:
				</td>
				<td>
					
				</td>
				<td>
					Co-Payment:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					Deductible:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					Interest:
				</td>
				<td>
					<input type="text" class="form-control" />
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>
					Adjustments:
				</td>
				<td>
					
				</td>
			</tr>
		</table>
		
		<li class="inner-tabel-width-set" id="batchesCounter" style="display: block;"><h5>Batch # : Doctor_B_08112014_5</h5>
<ul class="li-width-set">
	<table id="DynTable">
		<tbody><tr>
			<th style="width:70px;">D.O.S.</th>
			<th style="width:90px;">CPT Code (Unit)</th>
			<th style="width:90px;">Amount Billed</th>
						<th style="width:135px;">Co-Payment</th>
			<th style="width:135px;">Deductible</th>
			<th style="width:135px;">Net Payment</th>
			<th style="width:100px;">Status</th>
		</tr>
				<tr>
			<td>
				08/01/2014<input type="hidden" id="billId_0" name="billId[]" value="12"><input type="hidden" id="batchIdBill_0" name="batchIdBill[]" value="5">
			</td>
			<td>
				72141 (1)
			</td>
			<td>
				$ 1950.00				<input type="hidden" id="hidAmountBill_0" name="hidAmountBill[]" value="1950">
				<input type="hidden" id="hidUnits_0" name="hidUnits[]" value="1">
				<input type="hidden" id="hidAmountSingle_0" name="hidAmountSingle[]" value="1950">
				<input type="hidden" id="hidCPTAmount_0" name="hidCPTAmount[]" value="936.23">
			</td>
						<td>
								<div class="input-prepend"><span class="add-on">$</span><input class="half-pay-new" id="coPayment_0" name="coPayment_[]" type="text" onblur="changeNetPay(0);" value="0.00"></div>
			</td>
			<td>
								<div class="input-prepend"><span class="add-on">$</span><input class="half-pay-new" id="deductible_0" name="deductible_[]" type="text" onblur="changeNetPay(0);" value="0.00"></div>
			</td>
			<td>
								<div class="input-prepend"><span class="add-on">$</span><input class="half-pay-new" id="payPeceived_0" name="payPeceived[]" type="text" onblur="changeNetPayTot(0);" value="1950.00"></div>
			</td>
			<td class="custom-select" style="width:145px;">
				<select name="status[]" id="status_0" onchange="chkBillStatus(0)" class="selest-set half-pay jcf-hidden">
					<option value="">Select</option>
										<option value="2">Partially Paid</option>
										<option value="3">Fully Paid</option>
										<option value="4">Denied</option>
										<option value="5">Partially Denied</option>
									</select><span class="select-selest-set select-half-pay select-area" style="width: 244px;"><span class="left"></span><span class="center">Select</span><a class="select-opener"></a></span>
				<ul class="action-list">
					<li class="setStatusAll" onclick="setStatus('0')"><a href="javascript:void(0);"></a><span class="tootip">Set Status</span></li>
				</ul>
				
			</td>
		</tr>
			</tbody></table>
</ul>
<h5>Total</h5>
<ul class="li-width-set">
	<table id="DynTable2">
		<tbody><tr>
			<th style="width:70px;">D.O.S.</th>
			<th style="width:90px;">CPT Code (Unit)</th>
			<th style="width:90px;">Amount Billed</th>
						<th style="width:135px;">Co-Payment</th>
			<th style="width:135px;">Deductible</th>
			<th style="width:135px;">Net Payment</th>
			<th style="width:100px;">Status</th>
		</tr>
		<tr>
			<td><div class="form-grid-div">-</div></td>
			<td><div class="form-grid-div">-</div></td>
			<td><div class="form-grid-div" id="totAmtBilled">$ 1950.00</div></td>
						<td>
				<div class="form-grid-div" id="totCoPay">
					-				</div>
			</td>
			<td>
				<div class="form-grid-div" id="totDeductible">
					-				</div>
			</td>
			<td>
								<div class="form-grid-div" id="totalNetPayment">$ 1950.00</div>
			</td>
			<td>
				<div class="form-grid-div">-</div>
			</td>
		</tr>
	</tbody></table>
</ul>
</li>
		
		<a href="/#/collection">
			<input type="button" value="Back" >
		</a>
		<a href="/#/collection">
			<input type="button" value="Save" >
		</a>
    </div>
</div>