<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT PRACTICING DOCTOR</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editDoctor()">
                            <table class="table borderless">
                                <tr>
                                    <td>Name:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.firstName" placeholder="First Name" required/></td>
                                    <td><input type="text" class="form-control" ng-model="doctor.middleName" placeholder="Middle Name"/></td>
                                    <td><input type="text" class="form-control" ng-model="doctor.lastName" placeholder="Last Name" required/></td>
                                </tr>
                                <tr>
                                    <td>Description:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Description" placeholder="Description"/></td>
                                    <td>Specialty:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.Specialty" placeholder="Specialty"/></td>
                                </tr>
                                <tr>
                                    <td>NPI:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.NPI" placeholder="NPI"/></td>
                                    <td>License:</td>
                                    <td><input type="text" class="form-control" ng-model="doctor.License" placeholder="License" required/></td>
                                </tr>
                                <tr>
                                    <td>Upload Signature:</td>
                                    <td><input type="file"></td>
                                </tr>
                                <tr>
                                    <td><h3>COLOR SETTINGS</h3></td>
                                </tr>
                                <tr>
                                    <td>Event Background Color:</td>
                                    <td><input colorpicker="hex" type="text" class="form-control" ng-model="doctor.BgColor" placeholder="Color" style="background-color:{{doctor.BgColor}}"/></td>
                                    <td>Event Border Color:</td>
                                    <td><input colorpicker="hex" type="text" class="form-control" ng-model="doctor.bordercolor" placeholder="Color" style="background-color:{{doctor.bordercolor}}"/></td>
                                </tr>
                                <tr>
                                    <td>Block Background Color:</td>
                                    <td><input colorpicker="hex" type="text" class="form-control" ng-model="doctor.blockbackground" placeholder="Color" style="background-color:{{doctor.blockbackground}}"/></td>
                                    <td>Block Border Color:</td>
                                    <td><input colorpicker="hex" type="text" class="form-control" ng-model="doctor.blockbordercolor" placeholder="Color" style="background-color:{{doctor.blockbordercolor}}"/></td>
                                </tr>
                                <tr>
                                    <td>Day view Color:</td>
                                    <td><input colorpicker="hex" type="text" class="form-control" ng-model="doctor.CalColor" placeholder="Color" style="background-color:{{doctor.CalColor}}"/></td>
                                </tr>

                            </table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/practicing_doctors"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>