<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">PRACTICING DOCTORS</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/practicing_doctors/new"><button type="button" class="btn btn-default btn-block">New Practicing Doctor</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Specialty</th>
                        <th>NPI</th>
                        <th>License</th>
                        <th>BgColor</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="doctor in doctors | filter:searchQuery">
                        <td><a href="#/practicing_doctors/{{doctor.CalendarID}}">{{doctor.lastName}} {{doctor.middleName}} {{doctor.firstName}} </a></td>
                        <td>{{doctor.Specialty}}</td>
                        <td>{{doctor.NPI}}</td>
                        <td>{{doctor.License}}</td>
                        <td><span class="label" style="background-color:{{doctor.BgColor}}; padding:0 20px;">     </span></td>
                        <td>{{doctor.IsDeleted | status}}</td>
                        <td>
                            <a href="#/practicing_doctors/{{doctor.CalendarID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                            <span ng-click="deactivate(doctor)" ng-show="doctor.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></span>
                            <span ng-click="activate(doctor)" ng-show="doctor.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>