<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT PROVIDER INFORMATION</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editProvider()">
                            <table class="table borderless">
                                <tr>
                                    <td>Name:</td>
                                    <td colspan="4"><input type="text" class="form-control" ng-model="provider.Name" placeholder="Name" ng-minlength=5 required/></td>
                                </tr>
                                <tr>
                                    <td>NPI:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.NPI" placeholder="NPI"/></td>
                                    <td>License:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.License" placeholder="License"/></td>
                                </tr>
                                <tr>
                                    <td>Tax ID:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.TaxID" placeholder="Tax ID"/></td>
                                    <td>Specialty:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.Specialty" placeholder="Specialty"/></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td colspan="4"><input type="text" class="form-control" ng-model="provider.Address" placeholder="Address"/></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.City" placeholder="City"/></td>
                                    <td>State:</td>
                                    <td>
                                        <select ng-model="provider.State" class="form-control">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ" selected="selected">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZIP:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.Zip" placeholder="Zip"/></td>
                                    <td>Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.Phone" placeholder="Phone"/></td>
                                </tr>
                                <tr>
                                    <td>Fax:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.Fax" placeholder="Fax"/></td>
                                    <td>Email:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.Email" placeholder="Email"/></td>
                                </tr>
                                <tr>
                                    <td>Billing Information:</td>
                                    <td><input type="checkbox" ng-model="provider.sameasPatient" ng-true-value="yes" ng-false-value="no"/> (Please tick for same as Provider info)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td colspan="4"><input type="text" class="form-control" ng-model="provider.BName" placeholder="Name" ng-minlength=5 required/></td>
                                </tr>
                                <tr>
                                    <td>Address:</td>
                                    <td colspan="4"><input type="text" class="form-control" ng-model="provider.BAddress" placeholder="Address"/></td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.BCity" placeholder="City"/></td>
                                    <td>State:</td>
                                    <td>
                                        <select ng-model="provider.BState" class="form-control">
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ" selected="selected">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZIP:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.BZip" placeholder="Zip"/></td>
                                    <td>Phone:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.BPhone" placeholder="Phone"/></td>
                                </tr>
                                <tr>
                                    <td>Fax:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.BFax" placeholder="Fax"/></td>
                                    <td>Email:</td>
                                    <td><input type="text" class="form-control" ng-model="provider.BEmail" placeholder="Email"/></td>
                                </tr>


                            </table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/provider"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>