<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">PROVIDER INFORMATION</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Provider Name</th>
                        <th>NPI</th>
                        <th>License</th>
                        <th>Tax ID</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="provider in providers">
                        <td><a href="#/provider/{{provider.ID}}">{{provider.Name}}</a></td>
                        <td>{{provider.NPI}}</td>
                        <td>{{provider.License}}</td>
                        <td>{{provider.TaxID}}</td>
                        <td>{{provider.Phone}}</td>
                        <td>{{provider.Email}}</td>
                        <td>
                            <a href="#/provider/{{provider.ID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>