<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SCHEDULER</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-success" ng-click="openCreateBlockModal()">Create Block</button>
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                </div>
                <!-- Календарь -->
                <div select="renderCalender('myCalendar1');">
                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                        <h4>{{alertMessage}}</h4>
                    </div>
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </div>
                {{CalEvents}}
            </div>
        </div>
    </div>
</div>



<script type="text/ng-template" id="addBlockModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create Block</h3>
    </div>
    <form ng-submit="saveCalEvent()">
    <div class="modal-body">
        <table class="table borderless">
            <tr>
                <td>Block Type</td>
                <td style="width:20%"><input type="radio" ng-model="block.blocktype" value="H" ng-init="block.blocktype = 'H'"/> Hard <input type="radio" ng-model="block.blocktype" value="S"/> Soft</td>
                <td>Title</td>
                <td><input type="text" class="form-control" ng-model="block.Title" required/></td>
                <td>Limit (50)</td>
            </tr>
            <tr>
                <td>Date of Block</td>
                <td>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="block.date" is-open="opened" min-date="minDate"
                               max-date="'2015-06-22'" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true"
                               close-text="Close"
                               placeholder="mm/dd/yyyy" required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                    </p>
                </td>
                <td>Time of Block</td>
                <td><timepicker ng-model="block.StartTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker></td>
            </tr>
            <tr>
                <td>Duration</td>
                <td><timepicker ng-model="block.duration" hour-step="1" minute-step="15" show-meridian="false"></timepicker></td>
                <td>Block for</td>
                <td>
                    <select class="form-control" ng-model="block.CalendarID" ng-options="calendar.CalendarID as calendar.firstName + ' ' + calendar.lastName for calendar in calendars" required>
                        <option value="">Select doctor</option>
                    </select>
                </td>
            </tr>
        </table>
        {{block}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>

    </form>
</script>


<script type="text/ng-template" id="choosePatient.html">
    <div class="modal-header">
        <button type="button" class="close"><span aria-hidden="true" ng-click="cancel()">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">New Celendar Event</h3>
    </div>
    <div class="modal-body">
        <button class="btn btn-primary" ng-click="new_patient()">New Patient</button>
        <button class="btn btn-warning" ng-click="existing_patient()">Existing Patient</button>
    </div>
</script>

<script type="text/ng-template" id="existingPatient.html">
    <div class="modal-header">
        <button type="button" class="close"><span aria-hidden="true" ng-click="cancel()">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Existing Patient</h3>
    </div>
    <div class="modal-body">

    <tabset>
        <tab heading="Existing Patient">
            <table class="table borderless">
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" ng-model="patients.PatientID" placeholder="Patient Name" typeahead="patient.PatientID as patient.FirstName + ' ' + patient.LastName for patient in patients | filter:$viewValue | limitTo:8" typeahead-input-formatter="selectedPatient($model)"/></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-show="cases.length > 0">
                    <td>Case</td>
                    <td>
                        <select class="form-control" ng-model="patients.case_id" ng-options="case.CaseID as (case.DOA | doa) for case in cases">
                            <option value="" class="">Add new case</option>
                        </select>

                        {{patients.case_id}}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tbody ng-show="patient.PatientID">
                <tr>
                    <td>Full Name</td>
                    <td>{{patient.FirstName}} {{patient.MiddleName}} {{patient.LastName}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>D.O.B</td>
                    <td>{{patient.DOB}}</td>
                    <td>Gender</td>
                    <td>{{patient.Gender}}</td>
                    <td>Social Security Number</td>
                    <td>{{patient.SocialSecurityNumber}}</td>
                </tr>
                <tr>
                    <td>Drivers License</td>
                    <td>{{patient.Driverslicense}}</td>
                    <td>Address</td>
                    <td>{{patient.Address}}</td>
                    <td>Address 2</td>
                    <td>{{patient.Address2}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{patient.City}}</td>
                    <td>State</td>
                    <td>{{patient.State}}</td>
                    <td>ZIP</td>
                    <td>{{patient.Zip}}</td>
                </tr>
                <tr>
                    <td>Cell Phone</td>
                    <td>{{patient.Phone}}</td>
                    <td>Home Phone</td>
                    <td>{{patient.Phone2}}</td>
                    <td>Alternative Phone</td>
                    <td>{{patient.Phone3}}</td>
                </tr>
                <tr>
                    <td>Emergency Contact Name</td>
                    <td>{{patient.EmergencyContactName}}</td>
                    <td>Emergency Phone</td>
                    <td>{{patient.EmergencyPhone}}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            {{patient}}
        </tab>
        <tab heading="Claim">
        <form ng-submit="editCase()">
        <div class="row">
            <div class="col-md-6">
                <table class="table borderless">
                    <tr>
                        <td>Case Type:</td>
                        <td>
                            <select ng-model="case.CaseType" class="form-control">
                                <option value="3">PIP</option>
                                <option value="5">WC</option>
                                <option value="2">Lien</option>
                                <option value="4">Major Medical</option>
                                <option value="1">Cash</option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment Name:</td>
                        <td><input type="text" ng-model="case.empName" class="form-control" placeholder="Employment Name"/></td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment City:</td>
                        <td><input type="text" ng-model="case.empCity" class="form-control" placeholder="Employment City"/></td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment Zip:</td>
                        <td><input type="text" ng-model="case.empZip" class="form-control" placeholder="Employment Zip"/></td>
                    </tr>
                    <tr ng-show="case.CaseType==3">
                        <td>Patient Was A:</td>
                        <td>
                            <select ng-model="case.PatientWas" class="form-control">
                                <option value="">Patient was</option>
                                <option value="Driver">Driver</option>
                                <option value="Passenger">Passenger</option>
                                <option value="Pedestrian">Pedestrian</option>
                                <option value="Unknown">Unknown</option>
                            </select>
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--<td>Reffering Doctor:</td>-->
                    <!--<td>-->
                    <!--<input type="text" class="form-control" ng-model="case.DoctorID" placeholder="Reffering Doctor" ng-options="d.DoctorID as d.Firstname + ' ' + d.Lastname for d in doctors" bs-typeahead/>-->
                    <!--<span title="Add Doctor" data-toggle="modal" data-target="#addDoctorModal"><img src="images/icons/addcase.png"/></span>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td>Case Status:</td>
                        <td>
                            <select ng-model="case.CaseStatus" class="form-control">
                                <option value="Eligible">Eligible</option>
                                <option value="Pending">Pending</option>
                                <option value="Not Eligible">Not Eligible</option>
                                <option value="Other">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Policy Exhausted:</td>
                        <td>
                            Yes: <input type="radio" value="Y" ng-model="case.PolicyExhausted">
                            No: <input type="radio" value="N" ng-model="case.PolicyExhausted">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table borderless">
                    <tr>
                        <td style="width:25%">D.O.A.:</td>
                        <td style="width:25%">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}"
                                       ng-model="case.DOA" is-open="opened" min-date="minDate"
                                       max-date="'2015-06-22'" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close"
                                       placeholder="mm/dd/yyyy"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                            </p>
                        </td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment Address:</td>
                        <td><input type="text" ng-model="case.empAdd" class="form-control" placeholder="Employment Address"/></td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment State:</td>
                        <td>
                            <select ng-model="case.empState" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </td>
                    </tr>
                    <tr ng-show="case.CaseType==5">
                        <td>Employment Phone:</td>
                        <td><input type="text" ng-model="case.empPhone" class="form-control" placeholder="Employment Phone"/></td>
                    </tr>
                    <tr>
                        <td>Reffering Attorney:</td>
                        <td>
                            <!--<input type="text" class="form-control" ng-model="case.AttorneyID" placeholder="Reffering Attorney" ng-options="att.AttorneyID as att.Firstname + ' ' + att.Lastname for att in attorneys" bs-typeahead/>-->
                            <input type="text" ng-model="case.AttorneyID" typeahead="att.AttorneyID as att.Firstname + ' ' + att.Lastname for att in attorneys | filter:$viewValue | limitTo:8" class="form-control" typeahead-input-formatter="selectedAttorney($model)">
                            <span title="Add Attorney" data-toggle="modal" data-target="#addAttorneyModal"><img src="images/icons/addcase.png"/></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Diagnosis Codes:</td>
                        <td><input type="text" class="form-control" ng-model="case.diagnosisCodes"/></td>
                    </tr>
                    <tr>
                        <td>Policy Limit:</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" ng-model="case.PolicyLimit" placeholder="Policy Limit">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Deductible:</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" ng-model="case.Deductible" placeholder="Deductible">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Co-Payment:</td>
                        <td><input type="text" class="form-control" ng-model="case.CoPay" placeholder="Co-Payment"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <button ng-hide="addButton('primary')" type="button"
                        class="btn btn-success btn-lg" ng-click="openInsuranceModal('primary')">Add Primary Insurance
                </button>

                <div ng-repeat="insur in case.insurances">
                    <div ng-show="insur.insType=='primary'">
                        Primary Insurance
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>{{insur.info.Name}}</div>
                                <div>{{insur.info.Address}} {{insur.info.City}} {{insur.info.State}}
                                    {{insur.info.Zip}}
                                </div>
                                <div>Claim: {{insur.claim}}</div>
                                <div>Policy: {{insur.policy}}</div>
                                <div>Group Id: {{insur.groupID}}</div>
                                <div>Adjuster Name: {{insur.adjusterName}}</div>
                                <div>Adjuster Phone: {{insur.adjusterPhone}} {{insur.adjPhoneExt}}</div>
                                <div>Adjuster Fax: {{insur.adjusterFax}}</div>

                                <div ng-show="insur.PolicyHolder == 2">
                                    <div>Policy Holder:</div>
                                    <div>{{insur.PH_FirstName}} {{insur.PH_LastName}}</div>
                                    <div>{{insur.PH_Address}} {{insur.PH_Address2}} {{insur.PH_City}}
                                        {{insur.PH_State}} {{insur.PH_Zip}}
                                    </div>
                                    <div>{{insur.PH_Phone}}</div>
                                    <div>Relationship: {{insur.PH_Relation}}</div>
                                </div>
                                <div ng-show="insur.PolicyHolder == 1">Self Insured</div>

                                <span  data-toggle="modal" ng-click="open1(insur)"><img src="images/icons/Edit.png"/></span>
                                <span  data-toggle="modal" ng-click="removeInsurance(insur)"><img src="images/icons/Delete.png"/></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">

                <button ng-hide="addButton('secondary')" type="button"
                        class="btn btn-success btn-lg"  ng-click="openInsuranceModal('secondary')">Add Secondary Insurance
                </button>

                <div ng-repeat="insur in case.insurances | filter:{'insType': 'secondary'}">

                    <div ng-show="insur.insType=='secondary'">
                        Secondary Insurance
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>{{insur.info.Name}}</div>
                                <div>{{insur.info.Address}} {{insur.info.City}} {{insur.info.State}}
                                    {{insur.info.Zip}}
                                </div>
                                <div>Claim: {{insur.claim}}</div>
                                <div>Policy: {{insur.policy}}</div>
                                <div>Group Id: {{insur.groupID}}</div>
                                <div>Adjuster Name: {{insur.adjusterName}}</div>
                                <div>Adjuster Phone: {{insur.adjusterPhone}} {{insur.adjPhoneExt}}</div>
                                <div>Adjuster Fax: {{insur.adjusterFax}}</div>

                                <div ng-show="insur.PolicyHolder == 2">
                                    <div>Policy Holder:</div>
                                    <div>{{insur.PH_FirstName}} {{insur.PH_LastName}}</div>
                                    <div>{{insur.PH_Address}} {{insur.PH_Address2}} {{insur.PH_City}}
                                        {{insur.PH_State}} {{insur.PH_Zip}}
                                    </div>
                                    <div>{{insur.PH_Phone}}</div>
                                    <div>Relationship: {{insur.PH_Relation}}</div>
                                </div>
                                <div ng-show="insur.PolicyHolder == 1">Self Insured</div>

                                <span  data-toggle="modal" ng-click="open1(insur)"><img src="images/icons/Edit.png"/></span>
                                <span  data-toggle="modal" ng-click="removeInsurance(insur)"><img src="images/icons/Delete.png"/></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <button ng-hide="addButton('trietory')" type="button"
                        class="btn btn-success btn-lg"  ng-click="openInsuranceModal('trietory')">Add Trietory Insurance
                </button>

                <div ng-repeat="insur in case.insurances">

                    <div ng-show="insur.insType=='trietory'">
                        Trietory Insurance
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>{{insur.info.Name}}</div>
                                <div>{{insur.info.Address}} {{insur.info.City}} {{insur.info.State}}
                                    {{insur.info.Zip}}
                                </div>
                                <div>Claim: {{insur.claim}}</div>
                                <div>Policy: {{insur.policy}}</div>
                                <div>Group Id: {{insur.groupID}}</div>
                                <div>Adjuster Name: {{insur.adjusterName}}</div>
                                <div>Adjuster Phone: {{insur.adjusterPhone}} {{insur.adjPhoneExt}}</div>
                                <div>Adjuster Fax: {{insur.adjusterFax}}</div>

                                <div ng-show="insur.PolicyHolder == 2">
                                    <div>Policy Holder:</div>
                                    <div>{{insur.PH_FirstName}} {{insur.PH_LastName}}</div>
                                    <div>{{insur.PH_Address}} {{insur.PH_Address2}} {{insur.PH_City}}
                                        {{insur.PH_State}} {{insur.PH_Zip}}
                                    </div>
                                    <div>{{insur.PH_Phone}}</div>
                                    <div>Relationship: {{insur.PH_Relation}}</div>
                                </div>
                                <div ng-show="insur.PolicyHolder == 1">Self Insured</div>

                                <span  data-toggle="modal" ng-click="open1(insur)"><img src="images/icons/Edit.png"/></span>
                                <span  data-toggle="modal" ng-click="removeInsurance(insur)"><img src="images/icons/Delete.png"/></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">Notes:</div>
            <div class="col-xs-9"><textarea class="form-control" cols="30" rows="3" ng-model="case.Notes" required></textarea></div>
        </div>

        {{case | json}}
        <br/>
        {{deleted | json}}

        </form>

        </tab>
        <tab heading="Appointment Info">
            <table class="table borderless">
                <tr>
                    <td style="width: 25%">Date of Apointment</td>
                    <td style="width: 25%">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="appointment.DOA" is-open="opened" min-date="minDate"
                                   max-date="'2015-06-22'" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" ng-required="true"
                                   close-text="Close"
                                   placeholder="mm/dd/yyyy"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                        </p>
                    </td>
                    <td style="width: 25%">Reason of Visit</td>
                    <td>
                        <select ng-model="appointment.reason" class="form-control">
                            <option value="">Reason of Visit</option>
                            <option value="1">Follow Up Visit</option>
                            <option value="2">Initial Visit</option>
                            <option value="3">Physical Therapy</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Time of Appointment</td>
                    <td><timepicker ng-model="appointment.time" hour-step="1" minute-step="15" show-meridian="true"></timepicker></td>
                    <td>Duration of Appointment</td>
                    <td><timepicker ng-model="appointment.duration" hour-step="1" minute-step="15" show-meridian="false"></timepicker></td>
                </tr>
                <tr>
                    <td>Doctor</td>
                    <td>
                        <select class="form-control" ng-model="appointment.doctor" ng-options="calendar.CalendarID as calendar.firstName + ' ' + calendar.lastName for calendar in calendars">
                            <option value="">Select doctor</option>
                        </select>
                    </td>
                    <td>Appointment Status</td>
                    <td>
                        <select class="form-control" ng-model="appointment.status" ng-options="status.ID as status.Name for status in appointment_statuses">
                            <option value="">Select case</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td colspan="3">
                        <textarea class="form-control" ng-model="appointment.notes" placeholder="Notes"></textarea>
                    </td>
                </tr>
            </table>
            {{appointment}}
        </tab>
        <tab heading="Transportation Info">
            <table class="table borderless">
                <tr>
                    <td>Transportation Needed</td>
                    <td>
                        <select ng-model="transport.need" class="form-control" ng-init="transport.need = 'no'">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </td>
                </tr>
            </table>
            <h3 ng-show="transport.need == 'yes'">Transportation Address</h3>
            <div class="row" ng-show="transport.need == 'yes'">
                <div class="col-md-6">
                    <select ng-model="transport.pickup" class="form-control">
                        <option value="">PICK UP</option>
                        <option value="1">Patient Address (Default)</option>
                        <option value="2">Different Address</option>
                        <option value="3">Same As DROP OFF</option>
                        <option value="4">On Own</option>
                    </select>
                    <div class="row" ng-show="transport.pickup == '2'">
                        <div class="col-xs-6">
                            <input type="text" ng-model="transport.pickup_address" placeholder="Address" class="form-control"/>
                            <input type="text" ng-model="transport.pickup_address2" placeholder="Address 2" class="form-control"/>
                            <select ng-model="transport.pickup_state" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" ng-model="transport.pickup_city" placeholder="City" class="form-control"/>
                            <input type="text" ng-model="transport.pickup_zip" placeholder="Zipcode" class="form-control"/>
                        </div>
                    </div>

                    <textarea ng-model="transport.notes" class="form-control" placeholder="Transport Notes"></textarea>
                </div>
                <div class="col-md-6">
                    <select ng-model="transport.dropoff" class="form-control">
                        <option value="">DROP OFF</option>
                        <option value="1">Patient Address (Default)</option>
                        <option value="2">Different Address</option>
                        <option value="3">Same As PICKUP</option>
                        <option value="4">On Own</option>
                    </select>
                    <div class="row" ng-show="transport.dropoff=='2'">
                        <div class="col-xs-6">
                            <input type="text" ng-model="transport.dropoff_address" placeholder="Address" class="form-control"/>
                            <input type="text" ng-model="transport.dropoff_address2" placeholder="Address 2" class="form-control"/>
                            <select ng-model="transport.dropoff_state" class="form-control">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ" selected="selected">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <input type="text" ng-model="transport.dropoff_city" placeholder="City" class="form-control"/>
                            <input type="text" ng-model="transport.dropoff_zip" placeholder="Zipcode" class="form-control"/>

                        </div>
                    </div>
                </div>
            </div>

            {{transport}}
        </tab>
    </tabset>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!--Модальное окно добавления страховки-->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Insurances</h3>
    </div>
    <div class="modal-body">
        <table class="table borderless">
            <tr>
                <td>{{object.insType | capitalize}} Insurance</td>
                <td>
                    <input type="hidden" ng-model="object.insType"/>
                    <input type="text" ng-model="object.InsuranceID" typeahead="ins.ID as ins.Name for ins in insurances | filter:$viewValue | limitTo:8" class="form-control" typeahead-input-formatter="selectedInsurance($model)">
                    <span title="Add insurance" data-toggle="modal" data-target="#addInsurance"><img src="images/icons/addcase.png"/></span>
                </td>
            </tr>
            <tr>
                <td>Claim Number</td>
                <td><input type="text" class="form-control" ng-model="object.claim" placeholder="Claim Number"/></td>
                <td>Adjuster Name</td>
                <td><input type="text" class="form-control" ng-model="object.adjusterName" placeholder="Adjuster Name"/></td>
            </tr>
            <tr>
                <td>Policy Number</td>
                <td><input type="text" class="form-control" ng-model="object.policy" placeholder="Policy Number"/></td>
                <td>Adjuster Phone</td>
                <td><input type="text" class="form-control" ng-model="object.adjusterPhone" placeholder="Adjuster Phone"/></td>
            </tr>
            <tr>
                <td>Group Id</td>
                <td><input type="text" class="form-control" ng-model="object.groupID" placeholder="Group Id"/></td>
                <td>Adjuster Fax</td>
                <td><input type="text" class="form-control" ng-model="object.adjusterFax" placeholder="Adjuster Fax"/></td>
                <td><input type="text" class="form-control" ng-model="object.adjPhoneExt" placeholder="Ext"/></td>
            </tr>
            <tr>
                <td>Policy Holder</td>
                <td>Same as Patient <input type="radio" ng-model="object.PolicyHolder" value="1" ng-init="object.PolicyHolder = object.PolicyHolder == null ? 1 : object.PolicyHolder "/> Different  <input type="radio" ng-model="object.PolicyHolder" value="2"/> </td>
            </tr>
        </table>
        <table class="table borderless" ng-show="object.PolicyHolder == 2">
            <tr>
                <td>Policy Holder's Name</td>
                <td><input type="text" class="form-control" ng-model="object.PH_FirstName" placeholder="First Name"/></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="object.PH_MiddleName" placeholder="Middle Name"/></td>
                <td><input type="text" class="form-control" ng-model="object.PH_LastName" placeholder="Last Name"/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" class="form-control" ng-model="object.PH_Address" placeholder="Address"/></td>
                <td>Address 2</td>
                <td><input type="text" class="form-control" ng-model="object.PH_Address2" placeholder="Address 2"/></td>
                <td></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" class="form-control" ng-model="object.PH_City" placeholder="City"/></td>
                <td>State</td>
                <td>
                    <select ng-model="insurance1.PH_State" class="form-control">
                        <option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="DC">District Of Columbia</option><option value="FL">Florida</option><option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option>
                        <option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ" selected="selected">New Jersey</option><option value="NM">New Mexico</option>
                        <option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option>
                        <option value="WA">Washington</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option>
                    </select>
                </td>
                <td><input type="text" class="form-control" ng-model="object.PH_Zip" placeholder="ZIP"/></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" class="form-control" ng-model="object.PH_Phone" ui-mask="999-999-9999" placeholder="___-___-____"/></td>
                <td>Relationship to Patient</td>
                <td>
                    <select class="form-control" ng-model="object.PH_Relation" ng-init="object.PH_Relation = 'Spouse'">
                        <option value="Spouse">Spouse</option>
                        <option value="Child">Child</option>
                        <option value="Other">Other</option>
                    </select>
                </td>
                <td></td>
            </tr>
        </table>
        {{object}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>