<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <h3 class="patient_title">SETTINGS</h3>
            </div>
            <div class="panel-body">
                <table class="table center">
                    <tr><td><a href="#/provider">Provider Information Management</a></td></tr>
                    <tr><td><a href="#/users">User Management</a></td></tr>
                    <tr><td><a href="#/practicing_doctors">Practicing Doctor Management</a></td></tr>
                    <tr><td><a href="#/attorneys">Referring Attorney Management</a></td></tr>
                    <tr><td><a href="#/doctors">Referring Doctor Management</a></td></tr>
                    <tr><td><a href="#/case_types">Case Type Management</a></td></tr>
                    <tr><td><a href="#/billing_template">Billing Template Management</a></td></tr>
					<tr><td><a href="#/ehr_template">EHR Template Management</a></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>