<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading patients_heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="patient_title">USERS</h3>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Search" autofocus="autofocus" ng-model="searchQuery">
                    </div>
                    <div class="col-xs-2">
                        <a href="#/users/new"><button type="button" class="btn btn-default btn-block">New User</button></a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="user in users | filter:searchQuery | startFrom:(currentPage-1)*itemPerPage | limitTo:itemPerPage">
                        <td><a href="#/users/{{user.UserID}}">{{user.Name}}</a></td>
                        <td>{{user.Username}}</td>
                        <td>{{user.EmailId}}</td>
                        <td>{{user.Roles}}</td>
                        <td>{{user.IsDeleted | status}}</td>
                        <td>
                            <a href="#/users/{{user.UserID}}" title="Edit"><img src="images/icons/Edit.png"/></a>
                            <span ng-click="deactivate(user)" ng-show="user.IsDeleted == 'n'" title="Deactivate"><img src="images/icons/Delete.png"/></span>
                            <span ng-click="activate(user)" ng-show="user.IsDeleted == 'y'" title="Activate"><img src="images/icons/activate.png"/></span>
                        </td>
                    </tr>
                </table>
                <!-- todo Исправить пагинацию-->
                <pagination total-items="users.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemPerPage"></pagination>
                <div>Showing {{(currentPage-1)*itemPerPage + 1}} to {{currentPage*itemPerPage}} of total {{users.length}} Records</div>
            </div>
        </div>
    </div>
</div>