<div ng-include src="'templates/header.html'"></div>

<div class="container">
    <div class="main-page">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">EDIT USER</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="editUser()">
                            <table class="table borderless">
                                <tr>
                                    <td>Name:</td>
                                    <td><input type="text" class="form-control" ng-model="user.Name" placeholder="Name" required/></td>
                                    <td>Username:</td>
                                    <td><input type="text" class="form-control" ng-model="user.Username" placeholder="Username" required/></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><input type="text" class="form-control" ng-model="user.EmailId" placeholder="Email" required/></td>
                                    <td>Password:</td>
                                    <td><input type="text" class="form-control" ng-model="user.Password" placeholder="Password" required/></td>
                                </tr>
                                <tr>
                                    <td>Roles:</td>
                                    <td>
                                        <select ng-model="user.Roles" class="form-control">
                                            <option value="Admin">Admin</option>
                                            <option value="Custom">Custom</option>
                                        </select>
                                    </td>
                                    <td>Modules:</td>
                                    <td>
                                        <!--todo добавить модули-->
                                    </td>
                                </tr>
                            </table>
                    <button type="submit" class="btn btn-danger pull-right">Save</button>
                    <a href="#/users"><button type="button" class="btn btn-danger pull-right">Back</button></a>
                </form>
            </div>
        </div>
    </div>
</div>